.add-album-menu
    .wrap
        .add-album-close
            i.far.fa-times
        h5 Создание нового альбома
        input(type="text" id="album_name" name="album_name" placeholder="Введите название нового альбома").album-name-field
        a(id="create_set_button").create-album-button.btn Создать альбом