.add-camera-menu 
    .wrap
        .add-camera-close
            i.far.fa-times
        h5 Добавление новой камеры
        .add-camera-selects
            label(for="camera_brand").select.brand-select
                span(style="color: #777777;") выберите бренд
                input(type="hidden" name="PhotoEditFormModel[camera_brand]" id="camera_brand" placeholder="выберите бренд" value="-1").selection
                .datalist
                    div(data-value="1870843").option Agfa
                    div(data-value="13110543").option Agfaphoto
                    div(data-value="1869979").option Aiptek
                    div(data-value="10713096").option Airis
                    div(data-value="4112951").option Aito
                    div(data-value="16170907").option Apple
                    div(data-value="5728649").option Astra
                    div(data-value="1870007").option BBK
                    div(data-value="3333737").option BenQ
                    div(data-value="12371341").option Bronica
                    div(data-value="1870647").option Canon
                    div(data-value="16170894").option Carl Zeiss
                    div(data-value="1871071").option Casio
                    div(data-value="4112954").option Concord
                    div(data-value="2597239").option Contax
                    div(data-value="1871267").option Creative
                    div(data-value="1871279").option D-link
                    div(data-value="1871395").option Daewoo
                    div(data-value="3618694").option Daisy
                    div(data-value="11537504").option DigiEGO
                    div(data-value="1871435").option Epson
                    div(data-value="14961616").option Ergo
                    div(data-value="7334799").option Exakta
                    div(data-value="3642480").option Fuji
                    div(data-value="1871211").option Fujifilm
                    div(data-value="16170897").option General Electric
                    div(data-value="1870875").option Genius
                    div(data-value="13274777").option GoPro
                    div(data-value="3160701").option GreenWood
                    div(data-value="1871371").option Grundig
                    div(data-value="5732171").option Hasselblad
                    div(data-value="1870743").option Hitachi
                    div(data-value="16170893").option Holga
                    div(data-value="1870091").option HP
                    div(data-value="3160709").option Hyundai
                    div(data-value="16170900").option Ingo Devices
                    div(data-value="16170898").option INTOVA
                    div(data-value="16170878").option iSpan
                    div(data-value="1871027").option Jenoptik
                    div(data-value="1871075").option JVC
                    div(data-value="16170913").option Kenko
                    div(data-value="7609842").option Kocom
                    div(data-value="1871719").option Kodak
                    div(data-value="1871571").option Konica
                    div(data-value="12059614").option Kowa
                    div(data-value="1870111").option Kyocera
                    div(data-value="1870631").option Leica
                    div(data-value="1871499").option LG
                    div(data-value="5678095").option LOGITECH
                    div(data-value="16170912").option Lomography
                    div(data-value="1870339").option Mamiya
                    div(data-value="6692326").option Megxon
                    div(data-value="6024065").option Mercury
                    div(data-value="1870483").option Minolta
                    div(data-value="6024068").option Minox
                    div(data-value="1871323").option Mustek
                    div(data-value="10641104").option Nakomatsu
                    div(data-value="1870507").option Nikon
                    div(data-value="6024071").option Nobby Digital
                    div(data-value="16170923").option Nokia
                    div(data-value="1871543").option Olympus
                    div(data-value="1870515").option Orient
                    div(data-value="16170916").option OSAWA
                    div(data-value="1871531").option Panasonic
                    div(data-value="1871591").option Pentax
                    div(data-value="16170899").option Phase One
                    div(data-value="1870163").option Polaroid
                    div(data-value="1870167").option Praktica
                    div(data-value="1870907").option Premier
                    div(data-value="3321241").option Ranger Technology
                    div(data-value="1870183").option RCA
                    div(data-value="7609837").option Reefmaster
                    div(data-value="1871231").option Rekam
                    div(data-value="1870447").option Relisys
                    div(data-value="16170911").option Revuenon
                    div(data-value="1871483").option Ricoh
                    div(data-value="4112952").option Rollei
                    div(data-value="3321245").option Rovershot
                    div(data-value="1871447").option Samsung
                    div(data-value="1871299").option Sanyo
                    div(data-value="13117841").option Sea and Sea
                    div(data-value="13040730").option Sealife
                    div(data-value="6023107").option Seemann Sub
                    div(data-value="1870855").option Sharp
                    div(data-value="4112950").option Sigma
                    div(data-value="16170892").option Sinar
                    div(data-value="4070909").option Skina
                    div(data-value="12948678").option Soligor
                    div(data-value="1871023").option Sony
                    div(data-value="10160621").option Tamron
                    div(data-value="1870947").option Thomson
                    div(data-value="12271381").option Tokina
                    div(data-value="1870931").option Toshiba
                    div(data-value="7743942").option UFO
                    div(data-value="1870823").option Umax
                    div(data-value="16170896").option VITEK
                    div(data-value="4038022").option Vivitar
                    div(data-value="1870267").option Yashica
                    div(data-value="16170895").option ВЕГА
                    div(data-value="16170884").option Гелиос
                    div(data-value="16170915").option Гранит
                    div(data-value="1870499").option Зенит
                    div(data-value="16170881").option Зоркий
                    div(data-value="16170918").option ИСКРА
                    div(data-value="16170880").option Киев
                    div(data-value="16170882").option Ломо
                    div(data-value="16170883").option Любитель
                    div(data-value="16170887").option Мир
                    div(data-value="16170908").option Москва
                    div(data-value="16170879").option ФЭД
            label(for="camera_model").select.model-select
                span(style="color: #777777;") выберите модель
                input(type="hidden" name="PhotoEditFormModel[camera_model]" id="camera_model" placeholder="выберите модель" value="-1").selection
                .datalist
        a(href="#").add-camera-button.disabled Добавить камеру