.add-album-menu
    .wrap
        .add-album-close
            i.far.fa-timesf
        h5 Создание нового альбома
        input(type="text" id="album_name" name="album_name" placeholder="Введите название нового альбома").album-name-field
        a(href="#").create-album-button.btn Создать альбом