.burger-menu
  .wrap
    .burger-top
        .container
            .burger-close
                i.fas.fa-times
            a(href="/phsight").burger-logo
                .burger-logo-image   
    .burger-navigation
        .container
            nav.burger-nav
                a(href="phsight/photos.html").burger-navlink Фотографии
                a(href="#").burger-navlink Рейтинги
                a(href="#").burger-navlink Авторы
            .burger-search.search
                a.burger-search-btn
                    i.fas.fa-search
                input(placeholder="").burger-search-field
    include ./mini-footer.pug