footer.footer
    .container.flex.jcb 
        .footer-col.col-1 
            .footer-social
                a(href="#").footer-social-link
                    i.fab.fa-facebook
                a(href="#").footer-social-link
                    i.fab.fa-vk
                a(href="#").footer-social-link
                    i.fab.fa-odnoklassniki
                a(href="#").footer-social-link
                    i.fab.fa-instagram
                a(href="#").footer-social-link
                    i.fab.fa-telegram
                a(href="#").footer-social-link
                    i.fab.fa-tumblr
            .footer-copyright PhotoSight LLP &copy; 1999-2021
        .footer-col.col-2 
            a(href="#").footer-rules-link Правила
            a(href="#").footer-faq-link Вопросы и ответы
        .footer-col.col-3
            a(href="#").footer-support Техническая поддержка
            a(href="#").footer-advertising Реклама на сайте
            a(href="#").footer-abuse Жалобы / Abuse