header.header
   .container.flex.jcb
      .header-logo
         img(src="./img/logo.svg" alt="logo").header-logo-img
         p.header-logo-text фото.сайт
      .header-navigation
         .header-menu-btn
            i.fas.fa-bars
         nav.header-menu-list
            a(href="#").header-navlink Фотографии
            a(href="#").header-navlink Рейтинги
            a(href="#").header-navlink Авторы
            .header-search-btn
               a(href="#").header-search-icon
                  i.fas.fa-search
      .header-user-action
         a(href="#").header-sign-in Регистрация
         .header-user-avatar 
            a.header-user-icon
               i.fas.fa-user


