header.header
   .container.flex
      a(href="/").header-logo
         .header-logo-image   
      .header-navigation
         .header-menu-btn
            i.fas.fa-bars
         nav.header-menu-list
            .header-tab-marker
            a(href="#").header-navlink Фотографии
            a(href="#").header-navlink Рейтинги
            a(href="#").header-navlink Авторы
            a(href="#").header-navlink Работа
         form(action="" method="post").header-search.search
            a.header-search-btn
               i.fas.fa-search
            input(placeholder="" type="text" id="header_search" name="header_search" ).header-search-field
      .header-user-action
         a(href="register.html").header-sign-in Регистрация
         a(href="authorize.html").header-user-register.user-avatar
            .header-user-icon
               i.fas.fa-user
      //- .header-user-logged
         p.header-greets Привет, Sub-Zero!
         a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").header-user-avatar.user-avatar
         .new-message
            i.far.fa-envelope


