header.header
   .container.flex
      a(href="/").header-logo
         .header-logo-image   
         p.header-logo-text photo.sight
      .header-navigation
         .header-menu-btn
            i.fas.fa-bars
         nav.header-menu-list
            a(href="/photos.html").header-navlink Фотографии
            a(href="#").header-navlink Рейтинги
            a(href="#").header-navlink Авторы
         .header-search.search
            a.header-search-btn
               i.fas.fa-search
            input(placeholder="").header-search-field
      .header-user-action
         a(href="#").header-sign-in Регистрация
         .header-user-avatar 
            a.header-user-icon
               i.fas.fa-user


