header.header
   .container.flex
      a(href="/phsight").header-logo
         .header-logo-image   
      .header-navigation
         .header-menu-btn
            i.fas.fa-bars
         nav.header-menu-list
            a(href="phsight/photos.html").header-navlink Фотографии
            a(href="#").header-navlink Рейтинги
            a(href="#").header-navlink Авторы
         .header-search.search
            a.header-search-btn
               i.fas.fa-search
            input(placeholder="").header-search-field
      //- .header-user-action
         a(href="phsight/register.html").header-sign-in Регистрация
         .header-user-register.user-avatar
            a(href="phsight/authorize.html").header-user-icon
               i.fas.fa-user
      .header-user-logged
         p.header-greets Привет, Sub-Zero!
         a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").header-user-avatar.user-avatar


