footer.mini-footer
    .mini-footer-social
        a(href="#").mini-footer-social-link
            i.fab.fa-facebook
        a(href="#").mini-footer-social-link
            i.fab.fa-vk
        a(href="#").mini-footer-social-link
            i.fab.fa-odnoklassniki
        a(href="#").mini-footer-social-link
            i.fab.fa-instagram
        a(href="#").mini-footer-social-link
            i.fab.fa-telegram
        a(href="#").mini-footer-social-link
            i.fab.fa-tumblr
    .mini-footer-copyright PhotoSight LLP &copy; 1999-2021