nav.tabs
    .tab-marker
    .swiper-container 
        .swiper-wrapper
            block tabs
                mixin tabs(links)
                    each link in links
                        a.tab-link.swiper-slide= link
                    else
                        p NO LINKS
