.popup-menu
    .wrap
        .popup-close
            i.far.fa-times
        form(action="" method="post" id="troubleTicketForm")
            h3 Пожаловаться на пользователя
            textarea(placeholder="Текст претензии" name="TroubleTicketFormModel[author_comment]" id="TroubleTicketFormModel_author_comment")
            input(type="submit" value="Пожаловаться" name="yt0").btn
        .trigger