.user-menu
    .wrap
        .user-top
            .container
                .user-close
                    i.fas.fa-times
                a(href="/phsight").user-logo
                    .user-logo-image   
        .user-navigation
            .container
                .user-info
                    a.user-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                    span.user-name Sub-Zero
                nav.user-nav
                    a(href="#").user-navlink Профиль
                    a(href="#").user-navlink Настройки
                    a(href="#").user-navlink Переписка
                        .message 
                            i.far.fa-envelope 
                            span.message-counter 1
                    a(href="#").user-navlink Загрузить фото
                    a(href="#").user-navlink Личный счёт
                        span.user-wallet $2.00
                a(href="#").user-logout Выйти

        include ./mini-footer.pug