.user-menu.burger-popup
    .user-top
        .container
            .user-close
                i.fas.fa-times
            a(href="/").user-logo
                .user-logo-image   
    .user-navigation
        .container
            .user-info
                a.user-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                span.user-name ASSpike
            nav.user-nav
                a(href="#").user-navlink Профиль
                a(href="#").user-navlink Настройки
                a(href="#").user-navlink Переписка
                a(href="#").user-navlink Загрузить фото
                a(href="#").user-navlink Личный счёт
            a(href="#").user-logout Выйти

    include ./mini-footer.pug