.burger {
    &-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #282828;
        z-index: 999;

        
    .container {
        padding-top: 20px;
        height: 100%;
    }
    }



    &-top {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

    }

    &-close {
        position: absolute;
        z-index: 5;

        i {
            font-size: 19px;
            line-height: 165%;
            color: #fff;
        }
    }

    &-logo {
        display: flex;
        justify-content: center;
    }

    &-logo-image {
        width: 66px;
        height: 47px;
        background: url(../../assets/img/logo/logo_main.svg) center / cover no-repeat;
    }

    &-navigation {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

    }

    &-nav {
        margin-bottom: 55px;
    }

    &-navlink {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 175%;
        text-align: center;
        // margin-right: 60px;
    }

    &-navlink:not(:nth-child(3)) {
        margin-bottom: 30px;
    }

    &-search {
        display: flex;
        position: relative;
    }


    &-search-btn {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        transition: transform 0.33s ease;
        cursor: pointer;

        i {
            // color: #fff;
            font-size: 16px;
            line-height: 165%;
            color: #fff;
        }

        &:focus {
            outline: none
        }
    }

    &-search-field {
        .roboto(@color: #fff);
        width: 40px;
        height: 40px;
        border: 2px solid #282828;
        border-radius: 10px;
        outline: none;
        transition: width 0.3s ease;
        border: 2px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.05);

        &:focus {
            outline: none
        }
    }

    &-search.active>&-search-btn {
        transform: translateX(255px);
    }

    &-search.active>&-search-field {
        width: 295px;
        border: 2px solid #FFFFFF1A;
        padding: 10px 40px 10px 10px;
    }
}