.dots {
    &-menu {
        display: none;
        position: absolute;
        background: #282828;
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        min-width: 215px;
        right: 20px;
        bottom: -76px;
        z-index: 5;
    }

    &-wrap {
        padding: 20px;
        text-align: left;
    }

    &-option {
        display: block;
        .p_bold(@white);
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1023px) {
    .dots-menu {
        bottom: 15px;
    }
}

@media (max-width: 767px) {
    .dots-menu {
        bottom: -4px;
    }
}

@media (max-width: 679px) {
    .dots-menu {
        bottom: -4px;
        right: calc(50% - 160px);
    }
}