.footer {
    background-color: #282828;
    padding: 60px 0;
    &-social {
        margin-bottom: 53px;
    }

    &-social-link {
        font-size: 18px;
        line-height: 240%;
        text-align: right;
        color: #FFFFFF;
    }

    &-social-link:nth-child(n + 2) {
        margin-left: 33px;
        font-size: 18px;
        line-height: 240%;
        text-align: right;
        color: #FFFFFF;
    }

    &-copyright {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 175%;
        color: #EEEEEE;
    }

    &-col.col-2 a {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 240%;
        color: #EEEEEE;
        text-decoration: none;
    }

    &-faq-link {
        margin-left: 100px;
    }

    &-col.col-3 {
        a {
            display: block;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 240%;
            text-align: right;
            color: #EEEEEE;
            text-decoration: none;
        }
    }
}

@media (max-width: 1439px) {
    .footer {

        .container {
            width: calc(100% - 80px);
        }
    }
}

@media (max-width: 1024px) {
    .footer {

        .container {
            flex-wrap: wrap;
        }


        &-col.col-1 {
            order: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &-social {
            margin-bottom: 0;
        }

        &-col.col-2 {
            width: 50%;

            a {
                display: block;
            }
        }

        &-faq-link {
            margin-left: 0;
        }

        &-col.col-3 {
            width: 50%;
            margin-bottom: 45px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .container {
            width: calc(100% - 40px);
        }
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 70px 0;
        text-align: center;

        .container {
            flex-direction: column;
        }

        &-col.col-1 {
            display: block;
            width: unset;
        }

        &-col.col-2 {
            width: 100%;
            margin-bottom: 33px;

            a {
                font-size: 15px;
                line-height: 175%;
            }
        }

        &-col.col-3 {
            width: 100%;
            margin-bottom: 48px;

            a {
                font-size: 15px;
                line-height: 175%;
                text-align: unset;
            }
        }


        &-social {
            margin-bottom: 48px;
        }
    }


}