.header {
    background-color: #282828;
    color: #fff;
    padding: 20px 0;


    // &-logo {
    //     display: flex;
    //     align-items: center;
    //     text-decoration: none;
    //     color: #fff;
    // }

    &-logo-image {
        background: url(../../assets/img/logo/logo_page.svg) center / cover no-repeat;
        width: 147px;
        height: 33px;
    }


    &-navigation {
        display: flex;
        align-items: center;
        margin-left: calc(50% - 370px);
    }

    &-menu-btn {
        display: none;
    }

    &-menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    &-navlink {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 175%;
        text-align: center;
        margin-right: 60px;
    }

    &-search {
        display: flex;
        position: relative;
    }

    &-search.active>&-search-btn {
        transform: translateX(160px);
    }

    &-search.active>&-search-field {
        width: 200px;
        border: 2px solid #FFFFFF1A;
        padding: 10px 40px 10px 10px;
    }

    &-search-btn {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;
        cursor: pointer;

        i {
            // color: #fff;
            font-size: 16px;
            line-height: 165%;
        }

        &:focus {
            outline: none
        }
    }

    &-search-field {
        .roboto(@color: #fff);
        width: 40px;
        height: 40px;
        border: 2px solid #282828;
        border-radius: 10px;
        outline: none;
        transition: width 0.3s ease;
        border: 2px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.05);

        &:focus {
            outline: none
        }
    }

    &-user-action {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &-sign-in {
        margin-right: 30px;
        text-decoration: none;
        color: #fff;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 175%;
        text-align: center;
    }

    &-user-avatar {
        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &-user-icon {
        font-size: 15px;
        line-height: 165%;
        text-align: center;
        color: #282828;
    }
}

// media
@media (min-width: 1440px) {
    .header {
        &-search.active>&-search-field {
            width: 250px;
        }

        &-search.active>&-search-btn {
            transform: translateX(210px);
        }

    }
}

@media (max-width: 1439px) {
    .header {
        .container {
            justify-content: space-between;
            width: calc(100% - 80px);
        }
        &-navigation {
            margin-left: calc(50% - 365px);
        }

        &-navlink {
            margin-right: 50px;
        }
    }
}

@media (max-width: 1279px) {
    .header {
        &-navigation {
            margin-left: calc(50% - 340px);
        }

        &-navlink {
            margin-right: 40px;
        }

        &-search.active>&-search-btn {
            transform: translateX(130px);
        }

        &-search.active>&-search-field {
            width: 170px;
        }
    }
}

@media (max-width: 1119px) {

    .header {
        &-navigation {
            margin-left: calc(50% - 330px);
        }

        &-navlink {
            margin-right: 30px;
        }

        &-search.active>&-search-btn {
            transform: translateX(120px);
        }

        &-search.active>&-search-field {
            width: 160px;
        }
    }


}

@media (max-width: 1439px) {
    
}

@media (max-width: 1024px) {
    .header {
        .container {
            justify-content: space-between;

        }

        &-logo {
            order: 1;
        }

        &-logo-image {
            width: 39px;
            height: 31px;
            background: url(../../assets/img/logo/logo_page_mobile.svg) center / cover no-repeat;
        }

        &-navigation {
            order: 0;
            display: flex;
            align-items: center;
            width: auto;
            margin: 0;
        }

        &-search {
            display: none;
        }

        &-menu-btn {
            display: block;

            i {
                display: block;
                font-size: 18px;
                line-height: 165%;
                text-align: center;
                color: #FFFFFF;
            }
        }

        &-menu-list {
            display: none;
        }

        &-user-action {
            order: 2;
            margin: 0;
        }

        &-sign-in {
            display: none;
        }

        &-user-avatar {
            background-color: transparent;
            width: auto;
            height: auto;
        }

        &-user-icon {
            font-size: 15px;
            line-height: 165%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 767px) {
    .header {
        .container {
            width: calc(100% - 40px);
        }
    }
}