.tabs {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.tabs::before {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: #0000001A;
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
}

.tabs::after {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: #0000001A;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50vw);
}


.tab-link {
    .roboto(@font-weight: 700, @color: #00000040);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 40px 0;
    &:nth-child(n + 2) {
        margin-left: 50px;
    }

    &::after {
        opacity: 0;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        background-color: #000000;
        transition: opacity 200ms ease;
    }

    &.active::after {
        opacity: 1;
    }
}


.tab-link.active {
    color: #000000;
    cursor: default;
}

.tab-link.swiper-slide {
    width: auto;
}

@media (max-width: 1024px) {
    .tab-link {
        padding: 30px 0;
    }
    .tab-link:nth-child(n + 2) {
        margin-left: 40px;
    }
    
}
@media (max-width: 767px){
    .tab-link {
        padding: 20px 0;
    }
}
@media (max-width: 480px) {
   
    .tab-link:first-child {
        margin-left: 8px;
    }

    .tab-link:nth-child(n + 2) {
        margin-left: 30px;
    }

}