.pagination {
    width: 48%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-page-prev,
    &-page-next {
        .rounded-button(#eaeaea, 7px, 5px);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        i {
            font-size: 15px;
            line-height: 175%;
        }

        &:hover,
        &:focus  {
            background-color: #eaeaea;
        }
    
        &:active{
            border-color: #bcbcbc;
            background-color: #bcbcbc;
            outline: none;
        }
    }

    &-page-container {
        display: flex;
        align-items: center;
    }

    &-page-btn {
        .roboto(@color: #000000);
        cursor: pointer;
    }

    &-page-btn:nth-child(n+2),
    &-separator {
        margin-left: 35px;

    }

    .current {
        .rounded-button(#eaeaea, 0px, 5px, #eaeaea);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding-right: 1px;
    }

}

@media (max-width: 1239px) {
    .pagination {
        width: 100%;
        // margin: auto 2px;

        &-page-btn:nth-child(n+2),
        &-separator {
            margin-left: 25px;

        }
    }
}