main.message
    .container.flex
        div(style="background: url(./img/errors/403.svg) center / cover no-repeat").message-code
        .p.message-text Доступ к запрошенной странице запрещен.<br>Вы можете перейти на <a href="/"><b>главную, </b></a><a href="#"><b>написать в техподдержку</b></a> или воспользоваться поиском по сайту:
        .message-search.search
            a.message-search-btn
                i.fas.fa-search
            input(placeholder="").message-search-field