main.message
    .container.flex
        div(style="background: url(./img/errors/500.svg) center / cover no-repeat").message-code
        .p.message-text На сервере произошла непредвиденная ошибка. Пожалуйста, подождите, вскоре она будет исправлена.<br>Вы можете перейти на <a href="/"><b>главную, </b></a> или <a href="#"><b>написать в техподдержку.</b></a>