main.upload.file
    include ../popup.pug
    .upload-top 
        h1 Добавление Фотографии
        h3 Выбор файла
    .upload-body
        .container
            .file-warn 
                p Вы можете загружать фотографии размером до 10 МБ с максимальной стороной кадра (горизонталь или вертикаль) до 6000 px без дополнительных оплат.
            form(method="POST" id="photo_form" action="http://localhost:80/test.php" enctype="multipart/form-data").file-photo
                .file-area
                    input(type="hidden" name="UploadPhotoFormModel[file]" id="ytUploadPhotoFormModel_file" value placeholder="выберите файл или перетяните его в эту область" accept="image/jpg,jpeg,png").file-input
                    input(type="file" name="UploadPhotoFormModel[file]" id="UploadPhotoFormModel_file" placeholder="выберите файл или перетяните его в эту область" accept="image/jpg,jpeg,png").file-input
                    i.fas.fa-upload
                    button.replacement 
                        p выберите файл 
                            span или перетяните его в эту область
                input(type="submit" value="Загрузить фото" name="yt0" id="submit-button").submit-button
                




        .file-about
            p Вы можете загрузить&nbsp;<b>5</b>&nbsp;фотографий
            p За последние&nbsp;<b>7</b>&nbsp;дней вы загрузили&nbsp;<b>0</b>&nbsp;фотографий