main.dialog 

    .dialog-title
        h3 Переписка с пользователем
        h1 Дмитрий Зеленский

    .dialog-action
        .dialog-btn.dialog-reply
            i.fas.fa-reply 
        .dialog-btn.dialog-trash 
            i.fas.fa-trash

    .dialog-wall
        .message
            .message-avatar(style="background: url('./img/subscribers/image%2039-2.jpg') center / cover no-repeat;")
            .message-content
                .flex
                    .message-name Дмитрий Зеленский
                    .message-date 12 февраля 2021, 18:34:59
                .message-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.

        .reply
            .reply-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
            .reply-content
                .flex
                    .reply-name Вы
                    .reply-date 12 февраля 2021, 18:34:59
                .reply-text Плюс и Макс еще туда-сюда, там хоть действительно аккумуляторы стали приличные ставить, а вот всякие 5-6-7 айфоны как вспомню - так вздрогну: жена постоянно с ними аккумуляторы носила, до конца дня не доживали вообще.
                .reply-actions

    form.dialog-textfield(action="" method="post")
        textarea(name="reply" id="reply_textfield")
        input(type="submit" value="Отправить" name="yt0").dialog-btn.submit-button  

