main.messages
            .messages-title
                h1 Переписка
            p.messages-info Вы можете начать переписку с любым пользователем, кликнув на кнопку «Написать сообщение» на его личной странице
            .messages-dialogs

                .dialog
                    .dialog-wrapper.message
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            a.dialog-btn.dialog-trash 
                                i.fas.fa-trash

                .dialog 
                    .dialog-wrapper.reply
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Валерий VRN
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text <b>Вы:</b> Плюс и Макс еще туда-сюда, там хоть действительно аккумуляторы стали приличные ставить, а вот всякие 5-6-7 айфоны как вспомню - так вздрогну: жена постоянно с ними аккумуляторы носила, до конца дня не доживали вообще.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash

                //- .dialog 
                    .dialog-wrapper
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash

                //- .dialog 
                    .dialog-wrapper
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash

                //- .dialog 
                    .dialog-wrapper
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash

                //- .dialog 
                    .dialog-wrapper
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash

                //- .dialog 
                    .dialog-wrapper
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash

                //- .dialog 
                    .dialog-wrapper
                        .dialog-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        .dialog-content
                            .flex
                                .dialog-name Дмитрий Зеленский
                                .dialog-date 12 февраля 2021, 18:34:59
                            .dialog-text У меня был первый SE, сейчас 12 mini, оба при активном использовании уверенно живут 2 суток. Если только в режиме звонилки, то и все 5 суток. Другой вопрос насколько быстро начнет деградировать батарея, но это проблема не объема батареи и не энергопотребления девайса, а проблема литий-ионной технологии.
                            .dialog-actions
                                .dialog-btn.dialog-trash 
                                    i.fas.fa-trash