main.settings-edit.edit
    section.edit-top
        h3.edit-title Редактирование аватара
        p.hint Настройте область, которая будет показана в аватаре
    form(id="yw0" action="https://photosight.ru/my/avatar/edit/" method="post")
        section.edit-cropzone 
            .row 
                .col-lg-8.col-xs-12
                    img(src="./img/maingallery/7119633_xlarge.jpg").crop
            .row
                .col-lg-2
                    p.hint Предварительный вид аватара
                    .edit-preview
                        img(src="./img/maingallery/7015655_xlarge.jpg")
                    input(id="crop_coordinates" name="AvatarEditFormModel[crop_coordinates]" type="hidden" value)
        section.edit-submit.submit
            .container.flex
                a.btn.cancel-button Отмена
                input(type="submit" name="yt0" value="Сохранить изменения").btn.submit-button
