.settings-blacklist.blacklist
            .container
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Анастасия Никаноровская
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Константин
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Sub-Zero
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Mickey
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039-4.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Mouse
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Run Bitch
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Анастасия Никаноровская
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка
                .blacklist-person 
                    a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").blacklist-avatar
                    .blacklist-description
                        a(href="#").blacklist-name Mickey
                        a(href="https://photosight.ru/my/ignored_members/460877/remove_from_ignored/").blacklist-remove Убрать из списка