.settings-blacklist.blacklist
            .container
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Анастасия Никаноровская
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Константин
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Sub-Zero
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Mickey
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Mouse
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Run Bitch
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Анастасия Никаноровская
                        a(href="#").blacklist-remove Убрать из списка
                .blacklist-person 
                    .blacklist-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                    .blacklist-description
                        h5.blacklist-name Mickey
                        a(href="#").blacklist-remove Убрать из списка