.settings-password.password
            form(method="post" action="http://localhost:80/test.php").container
                section.password-fields 
                    .row 
                        .col-lg-2.col-sm-6.col-xs-12.password-field
                            label
                                p.subheader Старый пароль
                                input(maxlength="50" class="is-inline" name="ChangePasswordFormModel[current_password]" id="ChangePasswordFormModel_current_password" type="password")
                                span.fas.fa-eye
                        .col-lg-2.col-sm-6.col-xs-12.password-field
                            label
                                p.subheader Новый пароль
                                input(maxlength="50" class="is-inline" name="ChangePasswordFormModel[new_password]" id="ChangePasswordFormModel_new_password" type="password")
                                span.fas.fa-eye
                        .col-lg-2.col-sm-6.col-xs-12.password-field
                            label
                                p.subheader Ещё раз новый пароль
                                input(maxlength="50" class="is-inline" name="ChangePasswordFormModel[repeat_new_password]" id="ChangePasswordFormModel_repeat_new_password" type="password")
                                span.fas.fa-eye
                section.password-submit.submit
                        p.subheader.password-support Если у вас возникли проблемы при смене пароля, пишите на&nbsp;
                            a(href="mailto:support@photosight.ru")
                                b support@photosight.ru
                        input(type="submit" name="yt0" value="Сменить пароль").submit-button.btn