.settings-services.services
    form(id="yw0" method="post" action="http://localhost:80/test.php").container
        section.services-description 
            .row
                .col-lg-6.col-xs-12 
                    .services-textfield 
                        p.subheader Краткое описание
                        p.hint Коротко, в пределах 1200 символов, расскажите о себе, о вашем опыте, услугах, которые вы можете предоставить.
                        textarea(name="JobMemberSettingsForm[short_description]" id="JobMemberSettingsForm_short_description")
                    .services-textfield 
                        p.subheader Подробное описание
                        p.hint Расскажите о себе, о вашем опыте, услугах, которые вы можете предоставить, о вашем профессиональном образовании и заслугах. Максимум 10 000 символов.
                        textarea(name="JobMemberSettingsForm[full_description]" id="JobMemberSettingsForm_full_description")
                    .services-textfield 
                        p.subheader Альбом-портфолио
                        p.hint Выберите один из ваших альбомов, который лучше всего иллюстрирует ваш профиль в рубрике «Услуги». Отсутствие фотографий делает ваш профиль менее заметным и сильно снижает его привлекательность для заказчиков! Профили без альбома будет выводиться в самом конце списка.
                        label.select
                            span 
                            input(type="text" id="JobMemberSettingsForm_set_id" name="JobMemberSettingsForm[set_id]" placeholder="альбом не выбран").selection
                            .datalist 
                                div(data-value="60123").option Люди
                                div(data-value="60124").option Всякие штуки
                                div(data-value="60125").option Цветы
                        button.create-album Создать альбом

        section.services-region
            .row
                .col-lg-6.col-xs-12 
                    h4.services-title Регион предоставления услуг
                    p.hint Укажите существующий город, без сокращений и без перечисления нескольких городов. Когда заказчик будет искать исполнителя в своём городе, то он укажет его название "Санкт-Петербург", если вы укажете "Питер" или "Спб", то ваш профиль не будет выводиться при поиске.
            .row
                .col-lg-3.col-sm-6.col-xs-12
                    .services-textfield
                        p.subheader Страна
                        label.select
                            span 
                            input(type="text" id="JobMemberSettingsForm_country_id" name="JobMemberSettingsForm[country_id]" placeholder="страна не выбрана").selection
                            .datalist 
                                div(data-value="11111").option Казахстан
                                div(data-value="22222").option Россия
                                div(data-value="33333").option Беларусь
                .col-lg-3.col-sm-6.col-xs-12
                    .services-textfield
                        p.subheader Город
                        input(type="text" id="JobMemberSettingsForm_city_name" name="JobMemberSettingsForm[city_name]")


        section.services-pricing
            .row
                .col-lg-6.col-xs-12 
                    h4.services-title Общая стоимость услуг
                    p.hint Укажите существующий город, без сокращений и без перечисления нескольких городов. Когда заказчик будет искать исполнителя в своём городе, то он укажет его название "Санкт-Петербург", если вы укажете "Питер" или "Спб", то ваш профиль не будет выводиться при поиске.
            .row.wrap
                .col-lg-6.col-xs-12
                    .services-textfield
                        p.subheader Валюта
                        label.select
                            span 
                            input(type="text" id="JobMemberSettingsForm_price_currency" name="JobMemberSettingsForm[price_currency]").selection
                            .datalist 
                                div(data-value="RUR").option Рубли
                                div(data-value="USD").option Доллары
                                div(data-value="EUR").option Теньге
                    .services-textfield
                        p.subheader Стоимость часа
                        input(type="text" id="JobMemberSettingsForm_price_hour" name="JobMemberSettingsForm[price_hour]")
                    .services-textfield
                        p.subheader Стоимость проекта
                        input(type="text" id="JobMemberSettingsForm_price_project" name="JobMemberSettingsForm[price_project]")
                    .services-textfield
                        p.subheader Минимальная стоимость
                        input(type="text" id="JobMemberSettingsForm_price_min" name="JobMemberSettingsForm[price_min]")

        section.services-submit.submit
            .container
                input(type="submit" name="yt0" value="Сохранить изменения").submit-button.btn
