.settings-services.services
    include ../add-album.pug
    section.services-list
        .container 
            .row
                .col-lg-6.col-xs-12
                    .services-item
                        .name 
                            h5 Портрет
                            p я фотограф
                        .actions 
                            a(href="/my/job/editservice/").btn.item-edit
                                i.fas.fa-edit
                            a(href="/job/deleteJobTypeMember/3074").btn.item-delete
                                i.fas.fa-trash
                    .services-item
                        .name 
                            h5 Для интернет-магазинов
                            p я занимаюсь обработкой
                        .actions 
                            a(href="/my/job/editservice/").btn.item-edit
                                i.fas.fa-edit
                            a(href="/job/deleteJobTypeMember/3074").btn.item-delete
                                i.fas.fa-trash
    .container 
        .row
            .col-lg-6.col-xs-12
                a(href="/my/job/addservice/").btn.add-service Добавить услугу
    form(id="yw0" method="post" action="http://localhost:80/test.php").container
        section.services-description 
            .row
                .col-lg-6.col-xs-12 
                    h4.services-title.main-title Общие настройки профиля услуг
                    .services-textfield
                        .description 
                            p.subheader Краткое описание
                            p.hint Коротко, в пределах 1200 символов, расскажите о себе, о вашем опыте, услугах, которые вы можете предоставить.
                        textarea(name="JobMemberSettingsForm[short_description]" id="JobMemberSettingsForm_short_description")
                    .services-textfield 
                        .description
                            p.subheader Подробное описание
                            p.hint Расскажите о себе, о вашем опыте, услугах, которые вы можете предоставить, о вашем профессиональном образовании и заслугах. Максимум 10 000 символов.
                        textarea(name="JobMemberSettingsForm[full_description]" id="JobMemberSettingsForm_full_description")
                    .services-textfield
                        .description
                            p.subheader Альбом-портфолио
                            p.hint Выберите один из ваших альбомов, который лучше всего иллюстрирует ваш профиль в рубрике «Услуги». Отсутствие фотографий делает ваш профиль менее заметным и сильно снижает его привлекательность для заказчиков! Профили без альбома будет выводиться в самом конце списка.
                        label.select
                            span 
                            input(type="hidden" id="JobMemberSettingsForm_set_id" name="JobMemberSettingsForm[set_id]" placeholder="альбом не выбран").selection
                            .datalist 
                                div(data-value="60123").option Люди
                                div(data-value="60124").option Всякие штуки
                                div(data-value="60125").option Цветы
                        a(href="#").btn.album-popup Создать альбом

        section.services-region
            .row
                .col-lg-6.col-xs-12 
                    h4.services-title Регион предоставления услуг
                    p.hint Укажите существующий город, без сокращений и без перечисления нескольких городов. Когда заказчик будет искать исполнителя в своём городе, то он укажет его название "Санкт-Петербург", если вы укажете "Питер" или "Спб", то ваш профиль не будет выводиться при поиске.
            .row
                .col-lg-3.col-sm-6.col-xs-12
                    .services-textfield
                        p.subheader Страна
                        label.select
                            span 
                            input(type="hidden" id="JobMemberSettingsForm_country_id" name="JobMemberSettingsForm[country_id]" placeholder="страна не выбрана").selection
                            .datalist 
                                div(data-value="1").option Австралия
                                div(data-value="2").option Австрия
                                div(data-value="3").option Азербайджан
                                div(data-value="173").option Аландские острова
                                div(data-value="4").option Албания
                                div(data-value="165").option Алжир
                                div(data-value="203").option Американское Самоа
                                div(data-value="212").option Ангилья
                                div(data-value="5").option Ангола
                                div(data-value="6").option Андорра
                                div(data-value="224").option Антарктида
                                div(data-value="174").option Антигуа и Барбуда
                                div(data-value="186").option Антильские острова
                                div(data-value="7").option Аргентина
                                div(data-value="8").option Армения
                                div(data-value="207").option Аруба
                                div(data-value="9").option Афганистан
                                div(data-value="132").option Багамские острова
                                div(data-value="140").option Бангладеш
                                div(data-value="192").option Барбадос
                                div(data-value="178").option Бахрейн
                                div(data-value="10").option Беларусь
                                div(data-value="141").option Белиз
                                div(data-value="11").option Бельгия
                                div(data-value="149").option Бенин
                                div(data-value="103").option Бермуды
                                div(data-value="12").option Болгария
                                div(data-value="130").option Боливия
                                div(data-value="13").option Босния и Герцеговина
                                div(data-value="151").option Ботсвана
                                div(data-value="14").option Бразилия
                                div(data-value="225").option Британская территория в Индийском океане
                                div(data-value="188").option Британские Виргинские острова
                                div(data-value="15").option Бруней
                                div(data-value="16").option Буркина Фасо
                                div(data-value="217").option Бурунди
                                div(data-value="219").option Бутан
                                div(data-value="211").option Вануату
                                div(data-value="206").option Ватикан
                                div(data-value="17").option Великобритания
                                div(data-value="18").option Венгрия
                                div(data-value="19").option Венесуэла
                                div(data-value="129").option Виргинские Острова США
                                div(data-value="183").option Внешние малые острова США
                                div(data-value="232").option Восточный Тимор
                                div(data-value="20").option Вьетнам
                                div(data-value="147").option Габон
                                div(data-value="180").option Гаити
                                div(data-value="208").option Гайана
                                div(data-value="153").option Гамбия
                                div(data-value="144").option Гана
                                div(data-value="214").option Гваделупа
                                div(data-value="190").option Гватемала
                                div(data-value="162").option Гвинея
                                div(data-value="227").option Гвинея-Бисау
                                div(data-value="21").option Германия
                                div(data-value="216").option Гернси
                                div(data-value="22").option Гибралтар
                                div(data-value="106").option Гондурас
                                div(data-value="127").option Гонконг
                                div(data-value="189").option Гренада
                                div(data-value="226").option Гренландия
                                div(data-value="23").option Греция
                                div(data-value="24").option Грузия
                                div(data-value="181").option Гуам
                                div(data-value="25").option Дания
                                div(data-value="158").option Демократическая Республика Конго
                                div(data-value="223").option Джерси
                                div(data-value="167").option Джибути
                                div(data-value="135").option Доминика
                                div(data-value="122").option Доминиканская республика
                                div(data-value="26").option Египет
                                div(data-value="142").option Замбия
                                div(data-value="247").option Западная Сахара
                                div(data-value="105").option Зимбабве
                                div(data-value="27").option Израиль
                                div(data-value="28").option Индия
                                div(data-value="29").option Индонезия
                                div(data-value="30").option Иордания
                                div(data-value="31").option Ирак
                                div(data-value="32").option Иран
                                div(data-value="33").option Ирландия
                                div(data-value="34").option Исландия
                                div(data-value="35").option Испания
                                div(data-value="36").option Италия
                                div(data-value="187").option Йемен
                                div(data-value="152").option Кабо-Верде
                                div(data-value="37").option Казахстан
                                div(data-value="185").option Каймановы острова
                                div(data-value="137").option Камбоджа
                                div(data-value="38").option Камерун
                                div(data-value="39").option Канада
                                div(data-value="202").option Катар
                                div(data-value="40").option Кения
                                div(data-value="41").option Кипр
                                div(data-value="237").option Кирибати
                                div(data-value="42").option Китай
                                div(data-value="43").option КНДР
                                div(data-value="246").option Кокосовые острова
                                div(data-value="44").option Колумбия
                                div(data-value="168").option Коморские острова
                                div(data-value="45").option Конго
                                div(data-value="47").option Коста-Рика
                                div(data-value="118").option Кот-д'Ивуар
                                div(data-value="48").option Куба
                                div(data-value="117").option Кувейт
                                div(data-value="49").option Кыргызстан
                                div(data-value="243").option Лаос
                                div(data-value="50").option Латвия
                                div(data-value="154").option Лесото
                                div(data-value="163").option Либерия
                                div(data-value="51").option Ливан
                                div(data-value="52").option Ливия
                                div(data-value="53").option Литва
                                div(data-value="220").option Лихтенштейн
                                div(data-value="54").option Люксембург
                                div(data-value="155").option Маврикий
                                div(data-value="166").option Мавритания
                                div(data-value="150").option Мадагаскар
                                div(data-value="241").option Майотта
                                div(data-value="138").option Макао
                                div(data-value="55").option Македония
                                div(data-value="146").option Малави
                                div(data-value="56").option Малайзия
                                div(data-value="148").option Мали
                                div(data-value="139").option Мальдивские острова
                                div(data-value="176").option Мальта
                                div(data-value="61").option Марокко
                                div(data-value="222").option Мартиника
                                div(data-value="194").option Маршалловы острова
                                div(data-value="57").option Мексика
                                div(data-value="184").option Микронезия
                                div(data-value="58").option Мозамбик
                                div(data-value="59").option Молдова
                                div(data-value="179").option Монако
                                div(data-value="60").option Монголия
                                div(data-value="131").option Монтсеррат
                                div(data-value="218").option Мьянма
                                div(data-value="123").option Намибия
                                div(data-value="240").option Науру
                                div(data-value="111").option Непал
                                div(data-value="120").option Нигер
                                div(data-value="62").option Нигерия
                                div(data-value="63").option Нидерланды
                                div(data-value="110").option Никарагуа
                                div(data-value="238").option Ниуэ
                                div(data-value="64").option Новая Зеландия
                                div(data-value="134").option Новая Каледония
                                div(data-value="65").option Норвегия
                                div(data-value="239").option Норфолк
                                div(data-value="66").option Объединенные Арабские Эмираты
                                div(data-value="171").option Оман
                                div(data-value="210").option Остров Мэн
                                div(data-value="245").option Остров Святой Елены
                                div(data-value="195").option Острова Кука
                                div(data-value="67").option Пакистан
                                div(data-value="201").option Палау
                                div(data-value="68").option Палестина
                                div(data-value="69").option Панама
                                div(data-value="70").option Папуа Новая Гвинея
                                div(data-value="196").option Парагвай
                                div(data-value="71").option Перу
                                div(data-value="242").option Питкэрн
                                div(data-value="72").option Польша
                                div(data-value="73").option Португалия
                                div(data-value="101").option Прочая
                                div(data-value="128").option Пуэрто Рико
                                div(data-value="46").option Республика Корея
                                div(data-value="169").option Реюньон
                                div(data-value="74" data-selected="selected").selected.option Россия
                                div(data-value="102").option Руанда
                                div(data-value="75").option Румыния
                                div(data-value="191").option Сальвадор
                                div(data-value="116").option Самоа
                                div(data-value="175").option Сан-Марино
                                div(data-value="233").option Сан-Томе и Принсипи
                                div(data-value="76").option Саудовская Аравия
                                div(data-value="160").option Свазиленд
                                div(data-value="244").option Свальбард и Ян-Майен
                                div(data-value="205").option Святая Люсия
                                div(data-value="200").option Северные Марианские острова
                                div(data-value="164").option Сейшеллы
                                div(data-value="215").option Сен-Мартен
                                div(data-value="213").option Сен-Пьер и Микелон
                                div(data-value="143").option Сенегал
                                div(data-value="198").option Сент Китс и Невис
                                div(data-value="133").option Сент-Винсент и Гренадины
                                div(data-value="124").option Сербия
                                div(data-value="77").option Сингапур
                                div(data-value="78").option Сирия
                                div(data-value="79").option Словакия
                                div(data-value="80").option Словения
                                div(data-value="235").option Соломоновы острова
                                div(data-value="157").option Сомали
                                div(data-value="145").option Судан
                                div(data-value="209").option Суринам
                                div(data-value="81").option США
                                div(data-value="156").option Сьерра-Леоне
                                div(data-value="82").option Таджикистан
                                div(data-value="83").option Таиланд
                                div(data-value="126").option Тайвань
                                div(data-value="109").option Танзания
                                div(data-value="204").option Теркс и Кайкос
                                div(data-value="161").option Того
                                div(data-value="136").option Токелау
                                div(data-value="231").option Тонга
                                div(data-value="112").option Тринидад и Тобаго
                                div(data-value="236").option Тувалу
                                div(data-value="170").option Тунис
                                div(data-value="84").option Туркменистан
                                div(data-value="85").option Турция
                                div(data-value="104").option Уганда
                                div(data-value="86").option Узбекистан
                                div(data-value="87").option Украина
                                div(data-value="229").option Уоллис и Футуна
                                div(data-value="107").option Уругвай
                                div(data-value="221").option Фарерские острова
                                div(data-value="199").option Фиджи
                                div(data-value="88").option Филиппины
                                div(data-value="89").option Финляндия
                                div(data-value="177").option Фолклендские острова
                                div(data-value="90").option Франция
                                div(data-value="234").option Французская Гвинея
                                div(data-value="230").option Французская Полинезия
                                div(data-value="91").option Хорватия
                                div(data-value="159").option Центрально-Африканская Республика
                                div(data-value="114").option Чад
                                div(data-value="125").option Черногория
                                div(data-value="92").option Чехия
                                div(data-value="93").option Чили
                                div(data-value="94").option Швейцария
                                div(data-value="95").option Швеция
                                div(data-value="96").option Шри-Ланка
                                div(data-value="119").option Эквадор
                                div(data-value="115").option Экваториальная Гвинея
                                div(data-value="228").option Эритрея
                                div(data-value="97").option Эстония
                                div(data-value="108").option Эфиопия
                                div(data-value="98").option Южно-Африканская Республика
                                div(data-value="197").option Южный Судан
                                div(data-value="182").option Ямайка
                                div(data-value="100").option Япония
                .col-lg-3.col-sm-6.col-xs-12
                    .services-textfield
                        p.subheader Город
                        .autocomplete
                            input(type="text" id="JobMemberSettingsForm_city_name" name="JobMemberSettingsForm[city_name]")
                        script.
                            // setting autocomplete
                            window.addEventListener('load', function(e) {
                                const countryID = $("#JobMemberSettingsForm_country_id").val()
                                const options = {
                                    url: function (phrase) {
                                        if (phrase !== "") {
                                            return `https://photosight.ru/ajax/citySuggest?term=${phrase}&country_id=${countryID}`;
                                        } else {
                                            return
                                        }
                                    },
                                    getValue: "value",
                                    ajaxSettings: {
                                        method: 'GET',
                                        dataType: 'json',
                                        success: function (data) {
                                            console.log(data)
                                        },
                                        error: function(err) {
                                            console.log('error', err)
                                        }

                                    },
                                    list: {
                                        match: {
                                            enabled: true
                                        },

                                        onClickEvent: function (a, b) {
                                            $("#JobMemberSettingsForm_city_name").getSelectedItemData().val()
                                        }
                                    }
                                };
                                $("#JobMemberSettingsForm_city_name").on('keydown', function (e) {
                                    if ($('.easy-autocomplete-container ul').children().length > 0) $('.easy-autocomplete-container').show()
                                })
                                $("#JobMemberSettingsForm_city_name").easyAutocomplete(options);
                            })



        section.services-pricing
            .row
                .col-lg-6.col-xs-12 
                    h4.services-title Общая стоимость услуг
                    p.hint 
                        | Вам не обязательно указывать стоимость для каждой услуги отдельно. По умолчанию будут использоваться глобальные настройки стоимости из вашего профиля.
            .row.wrap
                .col-lg-6.col-xs-12
                    .services-textfield
                        p.subheader Валюта
                        label.select
                            span 
                            input(type="hidden" id="JobMemberSettingsForm_price_currency" name="JobMemberSettingsForm[price_currency]").selection
                            .datalist 
                                div(data-value="RUR").option Рубли
                                div(data-value="USD").option Доллары
                                div(data-value="EUR").option Теньге
                    .services-textfield
                        p.subheader Стоимость часа
                        input(type="text" id="JobMemberSettingsForm_price_hour" name="JobMemberSettingsForm[price_hour]")
                    .services-textfield
                        p.subheader Стоимость проекта
                        input(type="text" id="JobMemberSettingsForm_price_project" name="JobMemberSettingsForm[price_project]")
                    .services-textfield
                        p.subheader Мин. стоимость
                        input(type="text" id="JobMemberSettingsForm_price_min" name="JobMemberSettingsForm[price_min]")

        section.services-submit.submit
            .container
                input(type="submit" name="yt0" value="Сохранить изменения").submit-button.btn
