include ../ads.pug
    block mocks
        .ads-unit
            img(src="./img/mock-ads/4.jpg" alt="mock")
        .ads-unit
            img(src="./img/mock-ads/6.jpg" alt="mock")
.container  
    .profile-albums 
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-2.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-2.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg); border: none;")
            a(href="#").album-info
                p.album-name Люди
                span.album-rate 12.1
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-3.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg); border: none;")
            a(href="#").album-info
                p.album-name Разное
                span.album-rate 16.7
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-4.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 56
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-5.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 13.5
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-6.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-7.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-8.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg); border: none;")
            a(href="#").album-info
                p.album-name Люди
                span.album-rate 12.1
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-9.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg); border: none;")
            a(href="#").album-info
                p.album-name Разное
                span.album-rate 16.7
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-10.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 56
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033-11.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 13.5
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#").album-main(style="background-image: url(./img/profile/albums/Rectangle%2033.jpg); border: none;")
                .album-crops
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg); border: none;")
                    a(href="#").album-crop(style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg); border: none;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4

        .album
            .album-previews
                a(href="#").album-main(style="background: url(../icons/7ab5e7868233c0b6524564ee91b25352.svg) center / 20% no-repeat;")
                .album-crops
                    a(href="#").album-crop(style="background: url(../icons/7ab5e7868233c0b6524564ee91b25352.svg) center / 20% no-repeat;")
                    a(href="#").album-crop(style="background: url(../icons/7ab5e7868233c0b6524564ee91b25352.svg) center / 20% no-repeat;")
                    a(href="#").album-crop(style="background: url(../icons/7ab5e7868233c0b6524564ee91b25352.svg) center / 20% no-repeat;")
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4