include ../ads.pug
    block mocks
        .ads-unit
            img(src="./img/mock-ads/4.jpg" alt="mock")
        .ads-unit
            img(src="./img/mock-ads/6.jpg" alt="mock")
.container  
    .profile-albums 
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-2.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2034.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2035.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2036.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 43.4
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-2.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2037.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2038.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2039.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Люди
                span.album-rate 12.1
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-3.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2040.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2041.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2042.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Разное
                span.album-rate 16.7
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-4.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2034.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2035.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2036.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 56
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-5.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2037.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2038.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2039.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 13.5
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-6.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2040.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2041.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2042.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 43.4
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-7.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2034.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2035.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2036.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 43.4
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-8.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2037.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2038.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2039.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Люди
                span.album-rate 12.1
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-9.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2040.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2041.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2042.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Разное
                span.album-rate 16.7
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-10.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2034.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2035.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2036.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 56
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033-11.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2037.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2038.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2039.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 13.5
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2040.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2041.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2042.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 43.4
        a(href="#").album
            .album-previews
                .album-main(style="background: url(./img/profile/albums/Rectangle%2033.jpg) center / cover no-repeat; border: none;")
                .album-crops
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2040.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2041.jpg) center / cover no-repeat; border: none;")
                    .album-crop(style="background: url(./img/profile/albums/crops/Rectangle%2042.jpg) center / cover no-repeat; border: none;")
            .album-info
                p.album-name Индия
                span.album-rate 43.4

        a(href="#").album
            .album-previews
                .album-main
                .album-crops
                    .album-crop
                    .album-crop
                    .album-crop
            .album-info
                p.album-name Индия
                span.album-rate 43.4