.favorites-authors
        .container.flex
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg);").author-avatar
                a(href="#").author-name Анастасия Никаноровская
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg);").author-avatar
                a(href="#").author-name Sub-Zero
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg);").author-avatar
                a(href="#").author-name Константин Константинопольский
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").author-avatar
                a(href="#").author-name Mickey
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").author-avatar
                a(href="#").author-name Сам Своим
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg);").author-avatar
                a(href="#").author-name Анастасия Никаноровская
                p.author-location Россия, Ставрополь, 
                    span.author-online онлайн
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg);").author-avatar
                a(href="#").author-name Sub-Zero
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg);").author-avatar
                a(href="#").author-name Константин Константинопольский
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").author-avatar
                a(href="#").author-name Mickey
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").author-avatar
                a(href="#").author-name Сам Своим
                p.author-location Россия, Ставрополь, 
                    span.author-online онлайн
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg);").author-avatar
                a(href="#").author-name Анастасия Никаноровская
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg);").author-avatar
                a(href="#").author-name Sub-Zero
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg);").author-avatar
                a(href="#").author-name Гугли Вгугле
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop
            .author
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").author-avatar
                a(href="#").author-name Mickey
                p.author-location Россия, Ставрополь, 
                    span.author-online онлайн
                .author-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").author-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").author-crop