.profile-favorites
    .favorites-nav
        a(href="favauthorphotos.html").favorites-navlink Фотографии избранных авторов
        a(href="favauthors.html").favorites-navlink.active Авторы&nbsp;
            span.favorites-authors-count (7)
        a(href="favphotos.html").favorites-navlink Избранные фото&nbsp;
            span.favorites-photos-count (45)
    include ../ads.pug
        block mocks
            .ads-unit
                img(src="./img/mock-ads/4.jpg" alt="mock")
            .ads-unit
                img(src="./img/mock-ads/6.jpg" alt="mock")
    include favauthors.pug
    //- include favphotos.pug
    //- include favauthorphotos.pug
