include ../ads.pug
    block mocks
        .ads-unit
            img(src="./img/mock-ads/4.jpg" alt="mock")
        .ads-unit
            img(src="./img/mock-ads/6.jpg" alt="mock")
.container  
    .profile-subscribers
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Анастасия Никаноровская
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Константин
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Sub-Zero
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Mickey
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-4.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Mouse
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Анастасия Никаноровская
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Mickey
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Константин
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Sub-Zero
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-4.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Mouse
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Анастасия Никаноровская
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Mickey
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Константин
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Sub-Zero
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-4.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Mouse
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg)").subscriber-avatar
                .subscriber-description
                    a(href="#").subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 