@import '../../node_modules/swiper/swiper.less';
@import '../../node_modules/swiper/components/effect-fade/effect-fade.less';
@import './common/fonts.less';
@import './common/spec.less';
@import './common/mixins.less';
@import './components/header.less';
@import './components/burger-menu.less';
@import './components/user-menu.less';
@import './components/mini-footer.less';

.header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 5;

    &-logo-image {
        background: url(../assets/img/logo/logo_main.svg) center / cover no-repeat;
        width: 91px;
        height: 66px;
    }

    &-navigation {
         margin-left: calc(50% - 338px);
    }
}


.slider {
    height: calc(100vh - 59px);

    &-btn-next,
    &-btn-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        cursor: pointer;

        i {
            color: #ffffff;
            font-size: 42px;
            line-height: 165%;
            font-weight: 300;
        }

    }

    &-btn-next {
        right: 25px;
    }

    &-btn-prev {
        left: 25px
    }

    &-btn-disabled {
        display: none;
    }
}

.slide {
    &-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 60px 40px;
        align-items: baseline;
    }

    &-photo-name {
        .roboto(@line-height: 175%, @color: #fff);
    }

    &-copyright {
        .roboto(12px, 130%, @color: #fff)
    }

    &-photo-name,
    &-copyright {
        display: block;
    }

}



@media (max-width: 1279px) {
    .header {
        &-navigation {
            margin-left: calc(50% - 288px);
        }
    }
}



@media (max-width: 1024px) {

    .header {
        padding: 15px 0;

        &-logo-image {
            width: 66px;
            height: 47px;
        }

        &-logo-text {
            display: block;
            font-size: 14px;
            line-height: 14px;
            margin-left: 0;
            margin-top: 2px;
        }

        &-navigation {
            margin-left: unset;
        }
    }

    

}


@media (max-width: 767px) {


    .slider {
        height: calc(100vh - 101px);
    }

    .slide {
        &-footer {
            padding: 0 0 40px 0;
        }

        &-copyright {
            display: none;
        }

        &-photo-name {
            margin: 0 auto;
        }
    }


}