// common
@import './libs/justifiedGallery.css';
// @import 'swiper-bundle.css';
@import '../../node_modules/swiper/swiper.less';
@import './common/fonts.less';
@import './common/spec.less';
@import './common/mixins.less';
@import './components/header.less';
@import './components/footer.less';
@import './components/pagination.less';
@import './components/nav-tabs.less';

.content {
    padding-top: 70px;

    &-title {
        .roboto(46px, 130%, @color: #000000);
        text-align: center;
        margin-bottom: 40px;
    }

    &-nav {
        // position: relative;
        align-items: center;
    }

    &-divider {
        border-bottom: 2px solid #2828281A;
        width: 100%;
    }

    &-current-category {
        .rounded-button(@padX: 63px);
        .roboto(@font-weight: 700, @color: #000000);

    }

    &-current-page {
        .rounded-button(@padX: 24px);
        .roboto(@font-weight: 700, @color: #000000);
        margin-left: auto;
    }

    &-current-page~span {
        .roboto(@color: #000000);
        margin-left: 10px;
    }

    &-body {
        padding: 50px 0;
    }

    &-footer {

        .container {
            align-items: center;
        }

    }
    // =========== NAV-TABS COMPONENT
    .tabs {
        
        &:before, &:after {
            display: none;
        }


    }
    .tab-marker {
        bottom: -1px;
    }
    // =========== NAV-TABS COMPONENT
}



@media (max-width: 480px) {
    .content {
        padding-top: 35px;
        .container {
            width: calc(100% - 20px);
        }
        &-nav {
            overflow: hidden;
        }
        &-top {
            .container {
                width: 100%;
            }
        }

        &-title {
            margin-bottom: 26px;
        }

        

    }
}

@media (max-width: 1024px) {
    .content {
        &-title {
            margin-bottom: 20px;
        }

        &-nav {
            flex-direction: column;

        }

        &-current-category {
            margin: 0 auto 30px;
            padding: 6px 22px;
        }

        &-current-page {
            display: none;
        }

        &-current-page~span {
            display: none;
        }

        &-body {
            padding: 40px 0;
        }
    }
}