// common
@import './libs/justifiedGallery.css';
@import '../../node_modules/swiper/swiper.less';
@import './common/fonts.less';
@import './common/spec.less';
@import './common/mixins.less';
@import './components/header.less';
@import './components/footer.less';
@import './components/pagination.less';
@import './components/nav-tabs.less';
@import './components/burger-menu.less';
@import './components/user-menu.less';
@import './components/mini-footer.less';
@import './components/ads.less';

.content {
    padding-top: 70px;

    &-top {
        overflow: hidden;
    }

    &-title {
        .roboto(46px, 130%, @color: #000000);
        text-align: center;
        margin-bottom: 40px;
    }

    &-nav {
        position: relative;
        align-items: center;

        .tabs {
            &::before {
                display: none;
            }

        }
    }

    &-divider {
        border-bottom: 2px solid #2828281A;
        width: 100%;
    }

    &-subscribe {
        .rounded-button(#eaeaea, @padX: 63px); 
        .roboto(@font-weight: 700, @color: #000000);
        position: absolute;
        left: 0;
        cursor: pointer;
        &:hover {
            background-color: #eaeaea;
        }

        &:active,
        &:focus {
            border-color: #bcbcbc;
            background-color: #bcbcbc;
            outline: none;
        }
    }

    &-current-page {
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;

        input {

            &:active,
            &:focus {
                outline: none;
            }

            .rounded-button(@padX: 10px);
            .roboto(@font-weight: 700, @color: #000000);
            width: 60px;
        }

        span {
            .roboto(@color: #000000);
            margin-left: 10px
        }

    }


    &-footer {

        .container.flex {
            align-items: center;
            position: relative;
            padding-top: 40px;
        }

    }

}



@media (max-width: 480px) {
    .content {
        padding-top: 35px;

        .container {
            width: calc(100% - 20px);
        }

        &-nav {
            overflow: hidden;


        }

        &-top {
            .container {
                width: 100%;
            }
        }

        &-title {
            margin-bottom: 26px;
        }



    }
}

@media (max-width: 1024px) {
    .content {
        &-title {
            margin-bottom: 20px;
        }

        &-nav {
            flex-direction: column;

            .tabs::before {
                display: block;
            }
        }

        &-current-category {
            position: static;
            margin: 0 auto 30px;
            padding: 6px 22px;
        }

        &-current-page {
            display: none;
        }

        &-current-page~span {
            display: none;
        }


    }
}

// JG


.pic {
    &-footer {
        display: flex;
        justify-content: flex-end;
        .wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            transform: rotate(-180deg);
            padding: 20px;
        }
    }

    &-name {
        padding-top: 12px;
        display: flex;
        margin-right: 15px;
        align-items: center;
        .roboto(15px, 175%, @color: #fff);
        flex-wrap: wrap;
        span {
            
            white-space: nowrap;
        }
        b {
            color: #fff;
            white-space: nowrap;
        }
    }

    &-actions {
        padding-top: 12px;
        display: flex;
        span {
            margin-left: 10px;
            color: #fff;
            .roboto(18.75px, 130%, @color: #fff)
        }

        i {
            font-size: 20px;
            line-height: 165%;
            color: #fff;
        }

        div {
            display: flex;
            align-items: center;

            &:last-child {
                margin-left: 25px;
            }
        }
    }

}