@import './libs/justifiedGallery.css';
@import '../../node_modules/swiper/swiper.less';
@import './common/fonts.less';
@import './libs/flexgrid.css';
@import './common/spec.less';
@import './common/mixins.less';
@import './components/header.less';
@import './components/footer.less';
@import './components/pagination.less';
@import './components/nav-tabs.less';



.profile {

    &-top {
        padding-top: 80px;
    }

    &-body {
        padding-top: 50px;
    }

    &-current-page {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        
        input {
            width: 60px;
            .rounded-button(@padX: 10px);
            .roboto(@font-weight: 700, @color: #000000);
            
            &:active, &:focus {
                outline: none;
            }
        }

        span {
            .roboto(@color: #000000);
            margin-left: 10px;
        }
    }


    &-footer {
        padding: 50px 0;

        .container {
            position: relative;
            align-items: center;
        }
    }
}

.hero {

    padding-bottom: 100px;

    .container {
        position: relative;
    }

    &-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    &-wrap {

        margin-left: 45px;

        .flex {
            margin-bottom: 42px;
        }
    }

    &-description {
        padding-top: 20px;

    }

    &-name {
        .roboto(29px, 130%, 900);
        margin-bottom: 20px;
    }

    &-location {
        .roboto()
    }

    &-online {
        color: #4BBA07;
    }

    &-about {
        position: relative;
        display: flex;
        align-items: center;
        width: 775px;
        max-width: max-content;
        padding: 20px 33px;
        background-color: #f4f4f4;
        border-radius: 25px;

        p {
            .roboto()
        }
    }

    &-about:before {

        display: block;
        content: ' ';
        background-image: url('.././assets/img/chunk.svg');
        background-size: 35px 51px;
        background-repeat: no-repeat;
        background-position: center;
        height: 51px;
        width: 35px;
        position: absolute;
        left: -30px;
        top: 0;
    }

    &-contacts {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        margin-left: 35px;
    }

    &-contact-link {
        .rounded-button(@padX: 0);

        text-decoration: none;

        i {
            color: #000;
            font-size: 15px;
            line-height: 175%;
        }


    }

    &-contact-link.phone {
        .rounded-button(@padX: 12px);

        i {
            font-size: 12px;
        }

        span {
            margin-left: 10px;
            .roboto()
        }
    }

    &-contact-link:nth-child(n + 2) {
        margin-left: 10px;
    }

}

.info {
    padding: 35px 160px;
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;

    &-block {
        max-width: fit-content;
        text-align: center;

        .text {
            .roboto(12px, 130%);
            margin-bottom: 5px;
        }

        .data {
            .roboto(23px, 130%, 900)
        }
    }
}

.nav {
    border: 1px solid #0000001A;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-actions {
        display: flex;
        order: 1;
    }

    &-btn {
        .rounded-button(@padX: 0);
        text-decoration: none;

        i {
            color: #000000;
            font-size: 15px;
            line-height: 175%;
        }
    }

    &-btn:nth-child(n + 2) {
        margin-left: 20px;
    }

    &-subscribe {
        .rounded-button(transparent, 22px, @bg-color: #7BC220);

        span {
            text-decoration: none;
            .roboto(@color: #ffffff, @font-weight: 700)
        }
    }

    &-more {
        .rounded-button(#eaeaea, 0, @bg-color: #eaeaea);
    }

    &-info {
        display: none;
    }



}

//================= NAV-TABS COMPONENT

.tabs {
    margin: 0;

    &:before,
    &:after {
        display: none;
    }
}

//================= NAV-TABS COMPONENT

@media (max-width: 1024px) {

    .profile {
        &-body {
            padding-top: 40px;
        }

        &-current-page,
        &-current-page~span {
            display: none;
        }

    }

    .hero {
        padding-bottom: 40px;

        .container {
            flex-direction: column;
        }

        &-description {
            margin-bottom: 32px;
        }

        &-avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto;

        }

        &-wrap {
            text-align: center;
            margin: 0;
            margin-bottom: 32px;
            .flex {
                flex-direction: column;
            }
        }

        &-name {
            font-size: 29px;
            margin-bottom: 18px;
        }

        &-contacts {
            // margin-bottom: 40px;
            margin-left: 0;
            padding: 0;
        }

        &-about {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            max-width: 800px;
            padding: 20px;
        }

        &-about:before {
            display: block;
            content: ' ';
            background-image: url(../assets/img/piece.svg);
            background-size: 40px 32px;
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 40px;
            position: absolute;
            left: calc(50% - 20px);
            top: -23px;
        }
    }


    .info {
        display: none;
    }

    .nav {
        border: none;
        padding: 0;

        .container {
            display: flex;
            flex-direction: column;
            // width: 100%;
        }

        &-actions {
            justify-content: center;
            margin-bottom: 40px;
            width: 100%;
        }

        &-info {
            display: flex;
            margin-right: auto;
        }
    }



    //================= NAV-TABS COMPONENT

    .tabs {
        width: fit-content;
        order: 1;

        &:before,
        &:after {
            display: block;
        }

    }

    //================= NAV-TABS COMPONENT

}


@media (max-width: 480px) {


    .hero {

        &-name {
            font-size: 24px;
            margin-bottom: 5px;
        }

        &-last-visited {
            display: none;
        }

        &-contact-link:nth-child(n+4) {
            display: none;
        }

        &-about {
            padding: 21px;
        }


    }

    .nav {

        .container {
            display: block;
            width: 100%;
        }

        &-info {
            margin-right: unset;
        }

        &-slider-wrap {
            overflow: hidden;
            display: flex;
        }
    }

    //================= NAV-TABS COMPONENT

    .tabs {
        width: unset;
    }

    //================= NAV-TABS COMPONENT

}

@media (max-width: 375px) {
    .hero {
        &-contact-link.phone {
            span {
                font-size: 14px
            }
        }
    }
}

// SUBSCRIBERS

.profile-subscribers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscriber {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    width: 32.3%;

    &-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    &-description {
        margin-left: 22px;
        padding: 7px 0;

    }

    &-name {
        .roboto(19px, 130%, 700);
        margin-bottom: 10px;
    }

    &-location {
        .roboto()
    }

    &-online {
        color: #4BBA07;
        display: none;
    }

}

@media (max-width: 1279px) {
    .subscriber {
        margin-bottom: 55px;
        width: 48.6%;
    }
}


@media (max-width: 768px) {
    .subscriber {
        align-items: flex-start;
        margin-bottom: 40px;
        width: 100%;

        &-avatar {
            width: 50px;
            height: 50px;
        }

        &-description {
            padding: 0;
        }
    }
}

// ALBUMS

.profile-albums {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.album {



    background-color: #f4f4f4;
    margin-bottom: 40px;

    a {
        display: block;
        text-decoration: none;
    }

    &-main {
        height: 289px;
        width: 289px;
    }

    &-previews {
        display: flex;
    }

    &-crops {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 4px;

    }

    &-crop {
        height: 94px;
        width: 94px;
    }

    a&-info {
        padding: 12px 20px;
        display: flex;
        align-items: center;
    }

    &-name {
        .roboto()
    }

    &-rate {
        .roboto(29px, 130%, 700);
        margin-left: auto;
    }
}

// @media (max-width: 1379px) {
//     .profile-albums {
//         justify-content: space-between;

//     }
// }

@media (max-width: 1439px) {

    .profile-albums {
        justify-content: space-between;
    }

    .album {
        &:nth-child(3n + 2) {
            margin: 0 10px 40px;
        }

        &-main {
            height: 256px;
            width: 256px;
        }

        &-crop {
            height: 81px;
            width: 81px;
        }

    }

}

@media (max-width: 1082px) {
    // .profile-albums {
    //     justify-content: space-around;
    // }

    .album {
        &:nth-child(3n + 2) {
            margin: 0;
        }

        &:nth-child(2n + 1) {
            margin: 0 10px;
            margin-bottom: 40px;
        }

        &:nth-child(2n) {
            margin: 0 10px;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 767px) {
    .profile-albums {
        justify-content: center;
    }


    .album {
        &:nth-child(2n + 1) {
            margin: 0 10px;
            margin-bottom: 20px;
        }

        &:nth-child(2n) {
            margin: 0 10px;
            margin-bottom: 20px;
        }


        &-main {
            height: 264px;
            width: 264px;
        }

        &-crop {
            height: 86px;
            width: 86px;
        }

    }

}

@media (max-width: 374px) {



    .album {
        margin-bottom: 20px;

        &:nth-child(2n + 1) {
            margin: 0;
            margin-bottom: 20px;
        }

        &:nth-child(2n) {
            margin: 0;
            margin-bottom: 20px;
        }

        &-main {
            height: 220px;
            width: 220px;
        }

        &-crop {
            height: 70px;
            width: 70px;
        }

    }

}



// large desktops media

// 3 in row

@media (min-width: 1440px) {
    .album {
        margin-left: 79px;

        &:nth-child(3n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 1520px) and (max-width: 1904px) {
    .album {
        &:nth-child(3n) {
            margin-right: 79px;
        }
    }
}

// 4 in row

@media (min-width: 1905px) {
    .album {


        &:nth-child(3n + 1) {
            margin-left: 79px;
        }

        &:nth-child(4n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 1985px) and (max-width: 2370px) {
    .album {
        &:nth-child(4n) {
            margin-right: 79px;
        }
    }
}


// 5 in row

@media (min-width: 2371px) {
    .album {


        &:nth-child(4n + 1) {
            margin-left: 79px;
        }

        &:nth-child(5n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 2451px) and (max-width: 2836px) {
    .album {
        &:nth-child(5n) {
            margin-right: 79px;
        }
    }
}

// 6 in row 

@media (min-width: 2837px) {
    .album {


        &:nth-child(5n + 1) {
            margin-left: 79px;
        }

        &:nth-child(6n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 2917px) and (max-width: 3302px) {
    .album {
        &:nth-child(6n) {
            margin-right: 79px;
        }
    }
}

// 6 in row 

@media (min-width: 3303px) {
    .album {


        &:nth-child(6n + 1) {
            margin-left: 79px;
        }

        &:nth-child(7n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 3383px) and (max-width: 3768px) {
    .album {
        &:nth-child(7n) {
            margin-right: 79px;
        }
    }
}

// 8 in row

@media (min-width: 3769px) {

    .album {

        &:nth-child(7n + 1) {
            margin-left: 79px;
        }

        &:nth-child(8n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 3849px) and (max-width: 4234px) {
    .album {
        &:nth-child(8n) {
            margin-right: 79px;
        }
    }
}

// 9 in row

@media (min-width: 4235px) {

    .album {

        &:nth-child(8n + 1) {
            margin-left: 79px;
        }

        &:nth-child(9n + 1) {
            margin-left: unset;
        }
    }
}

@media (min-width: 4315px) and (max-width: 4700px) {
    .album {
        &:nth-child(9n) {
            margin-right: 79px;
        }
    }
}

// 10 in row

@media (min-width: 4701px) {

    .album {

        &:nth-child(9n + 1) {
            margin-left: 79px;
        }

        &:nth-child(10n + 1) {
            margin-left: unset;
        }
    }
}

// STATISTICS

.statistics {


    td p {
        .roboto(19px, 130%)
    }

    &-date p {
        .roboto()
    }


}