@import './libs/justifiedGallery.css';
// @import 'swiper-bundle.css';
@import '../../node_modules/swiper/swiper.less';
@import './common/fonts.less';
@import './common/spec.less';
@import './common/mixins.less';
@import './components/header.less';
@import './components/footer.less';
@import './components/pagination.less';
@import './components/nav-tabs.less';



.profile {
    &-top {
        padding-top: 80px;
    }

    &-body {
        padding-top: 50px;
    }

    &-current-page {
        .rounded-button(@padX: 24px);
        .roboto(@font-weight: 700, @color: #000000);
        margin-left: auto;
    }

    &-current-page~span {
        .roboto(@color: #000000);
        margin-left: 10px;
    }

    &-footer {
        padding: 50px 0;

        .container {
            align-items: center;
        }
    }
}

.hero {
    padding-bottom: 100px;

    .container {
        flex-wrap: wrap;
        position: relative;

    }

    &-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    &-description {
        margin-left: 45px;
        padding-top: 20px;

    }

    &-name {
        .roboto(29px, 130%, 900);
        margin-bottom: 20px;
    }

    &-location {
        .roboto()
    }

    &-online {
        display: none;
    }

    &-about {
        position: relative;
        margin-left: 190px;
        display: flex;
        align-items: center;
        width: 775px;
        max-width: max-content;
        padding: 15px 33px;
        background-color: #f4f4f4;
        border-radius: 25px;

        p {
            .roboto()
        }
    }

    &-about:before {

        display: block;
        content: ' ';
        background-image: url('.././assets/img/chunk.svg');
        background-size: 35px 51px;
        background-repeat: no-repeat;
        background-position: center;
        height: 51px;
        width: 35px;
        position: absolute;
        left: -30px;
        top: 0;
    }

    &-contacts {
        display: flex;
        justify-content: center;
        // align-items: center;
        padding-top: 20px;
        margin-left: 35px;
    }

    &-contact-link {
        .rounded-button(@padX: 0);

        text-decoration: none;

        i {
            color: #000;
            font-size: 15px;
            line-height: 175%;
        }


    }

    &-contact-link.phone {
        .rounded-button(@padX: 12px);

        i {
            font-size: 12px;
        }

        span {
            margin-left: 10px;
            .roboto()
        }
    }

    &-contact-link:nth-child(n + 2) {
        margin-left: 10px;
    }

}

.info {
    padding: 35px 160px;
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;

    &-block {
        max-width: fit-content;
        text-align: center;

        .text {
            .roboto(12px, 130%);
            margin-bottom: 5px;
        }

        .data {
            .roboto(23px, 130%, 900)
        }
    }
}

.nav {
    padding: 30px 0;
    border: 1px solid #0000001A;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-actions {
        display: flex;
        order: 1;
    }

    &-btn {
        .rounded-button(@padX: 0);
        text-decoration: none;

        i {
            color: #000000;
            font-size: 15px;
            line-height: 175%;
        }
    }

    &-btn:nth-child(n + 2) {
        margin-left: 20px;
    }

    &-subscribe {
        padding-left: 22px;
        padding-right: 22px;

        span {
            text-decoration: none;
            .roboto(@color: #000000)
        }
    }

    &-more {
        .rounded-button(#eaeaea, 0, @bg-color: #eaeaea);
    }

    &-info {
        display: none;
    }

}

//================= NAV-TABS COMPONENT

.tabs {
    margin: 0;
}

//================= NAV-TABS COMPONENT


@media (max-width: 767px) {
    .profile {

        &-current-page,
        &-current-page~span {
            display: none;
        }

    }

    .hero {
        padding-bottom: 40px;

        .container {
            flex-direction: column;
        }

        &-wrap {
            flex-direction: column;
        }

        &-avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto;

        }

        &-description {
            text-align: center;
            margin: 0;
            margin-bottom: 32px;
        }

        &-name {
            font-size: 24px;
            margin-bottom: 5px;
        }

        &-last-visited {
            display: none;
        }

        &-online {
            color: #4BBA07;
        }

        &-contacts {
            margin-bottom: 45px;
            margin-left: 0;
        }

        &-contact-link:nth-child(n+4) {
            display: none;
        }

        &-about {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            padding: 21px;
            margin-bottom: 40px;
        }

        &-about:before {
            display: block;
            content: ' ';
            background-image: url(../assets/img/piece.svg);
            background-size: 40px 32px;
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 40px;
            position: absolute;
            left: calc(50% - 20px);
            top: -23px;
        }
    }

    .info {
        display: none;
    }

    .nav {
        border: none;
        padding: 0;

        .container {
            display: block;
            width: 100%;
        }

        &-actions {
            justify-content: center;
            margin-bottom: 40px;
        }

        &-info {
            display: flex;
        }
    }

    // ====== NAV-TABS COMPONENT
    .tabs {
        border-top: 1px solid #0000001A;
        border-bottom: 1px solid #0000001A;
        padding: 17px 0;
        order: 1;
    }

    .tab-marker {
        bottom: 0;
    }
    .tab-link:first-child {
        margin-left: 15px;
    }
}