@import 'justifiedGallery.css';
// @import 'swiper-bundle.css';
@import '../../node_modules/swiper/swiper.less';
@import 'fonts.less';
@import 'spec.less';
@import 'mixins.less';
@import 'header.less';
@import 'footer.less';
@import 'pagination.less';



.profile {
    &-top {
        padding-top: 80px;
    }

    &-body {
        padding-top: 50px;
    }

    &-current-page {
        .rounded-button(@padX: 24px);
        .roboto(@font-weight: 700, @color: #000000);
        margin-left: auto;
    }

    &-current-page~span {
        .roboto(@color: #000000);
        margin-left: 10px;
    }

    &-footer {
        padding: 50px 0;

        .container {
            align-items: center;
        }
    }
}

.hero {
    padding-bottom: 175px;

    .container {

        position: relative;

    }

    &-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    &-description {
        margin-left: 45px;
        padding-top: 20px;

    }

    &-name {
        .roboto(29px, 130%, 900);
        margin-bottom: 20px;
    }

    &-location {
        .roboto()
    }

    &-about {
        position: absolute;
        bottom: -78px;
        left: 185px;
        display: flex;
        align-items: center;
        height: 76px;
        width: 100%;
        max-width: max-content;
        padding: 0 33px;
        background-color: #f4f4f4;
        border-radius: 25px;

        p {
            .roboto()
        }
    }

    &-about:before {
        
        display: block;
        content: ' ';
        background-image: url('.././assets/img/chunk.svg');
        background-size: 35px 51px;
        background-repeat: no-repeat;
        background-position: center;
        height: 51px;
        width: 35px;
        position: absolute;
        left: -30px;
        top: 0;
    }

    &-contacts {
        display: flex;
        justify-content: center;
        // align-items: center;
        padding-top: 20px;
        margin-left: 35px;
    }

    &-contact-link {
        .rounded-button(@padX: 0);

        text-decoration: none;

        i {
            color: #000;
            font-size: 15px;
            line-height: 175%;
        }


    }

    &-contact-link.phone {
        .rounded-button(@padX: 12px);

        i {
            font-size: 12px;
        }

        span {
            margin-left: 10px;
            .roboto()
        }
    }

    &-contact-link:nth-child(n + 2) {
        margin-left: 10px;
    }

}

.info {
    padding: 35px 160px;
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;

    &-block {
        max-width: fit-content;
        text-align: center;

        .text {
            .roboto(12px, 130%);
            margin-bottom: 5px;
        }

        .data {
            .roboto(23px, 130%, 900)
        }
    }
}

.nav {
    padding: 30px 0;
    border: 1px solid #0000001A;

    .container {
        align-items: center;
    }

    &-actions {
        display: flex;
    }

    &-btn {
        .rounded-button(@padX: 0);
        text-decoration: none;

        i {
            color: #000000;
            font-size: 15px;
            line-height: 175%;
        }
    }

    &-btn:nth-child(n + 2) {
        margin-left: 20px;
    }

    &-subscribe {
        padding-left: 22px;
        padding-right: 22px;

        span {
            text-decoration: none;
            .roboto(@color: #000000)
        }
    }

    &-more {
        .rounded-button(#eaeaea, 0, @bg-color: #eaeaea);
    }

}

//================= NAVIGATION COMPONENT

.content {

    &-nav-tabs {
        // this margin shouldn't be applied here
        // margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
    }

    &-tab-marker {
        position: absolute;
        height: 4px;
        width: 0;
        left: 0;
        bottom: -38px;
        background-color: #000000;
        transition: 0.5s;

    }

    &-nav-link {
        width: auto;
        .roboto(@font-weight: 700, @color: #00000040);
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:nth-child(n + 2) {
            margin-left: 60px;
        }
    }


    &-nav-link.active {
        color: #000000;
    }




    // rewriting swiper styles


}

//================= NAVIGATION COMPONENT


@media (min-width: 375px) and (max-width: 479px) {
    .hero {
        &-wrap {
            flex-direction: column;
        }
    }
    .info {
        display: none;
    }

    .nav {
        .container {
            flex-direction: column;
        }
    }
}