@import '../../node_modules/swiper/swiper.less';
@import './libs/flexgrid.css';
@import './common/spec.less';
@import './common/fonts.less';
@import './common/mixins.less';
@import './components/header.less';
@import './components/footer.less';
@import './components/burger-menu.less';
@import './components/user-menu.less';
@import './components/mini-footer.less';

.photo {
    &-block {
        background-color: #434343;
        padding: 20px 0;
    }

    &-action-left,
    &-action-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-action-left {
        align-items: flex-start;

        &.col-xs-6 {
            padding-left: 0;
        }
    }

    &-action-right {
        align-items: flex-end;

        &.col-xs-6 {
            padding-right: 0;
        }
    }

    &-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: fit-content;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    &-image {
        // display: flex;
        position: relative;
    }

    &-preview-nav {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }

    &-preview {

        div {
            width: 40px;
            height: 40px;
        }
    }

    &-btn {

        &-warning {
            .rounded-button(#ffa80040, 5px);
            width: 40px;
            height: 40px;
            cursor: pointer;

            i {
                font-weight: 900;
                font-size: 16px;
                line-height: 165%;
                color: #FFA800;
            }

            &:hover {
                border-color: #725C32;
                background-color: #725C32;
            }

            &:active,
            &:focus {
                border-color: #FFA800;
                background-color: #FFA800;
                outline: none;

                i {
                    color: #434343;
                }
            }
        }

        &-prev,
        &-next {
            cursor: pointer;

            i {
                font-weight: 300;
                font-size: 42px;
                line-height: 165%;
                color: #fff;
            }

        }

        &-prev {
            margin-left: -10px;
        }

        &-next {
            margin-right: -10px;
        }

        &-share,
        &-expand,
        &-like {
            cursor: pointer;
            .rounded-button(#eaeaea1a, 5px);
            width: 40px;
            height: 40px;

            i {
                font-weight: 900;
                font-size: 16px;
                line-height: 165%;
                color: #fff;
            }


            &:hover {
                border-color: #545454;
                background-color: #545454;
            }

            &:active,
            &:focus {
                border-color: #fff;
                background-color: #fff;
                outline: none;

                i {
                    color: #434343;
                }
            }
        }


    }

    &-likes {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &-likes-counter {
        .roboto(24px, 130%, bold, #fff);
        margin-left: 15px;
    }
}

.ratings {

    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #383838b5;
    animation: fadeOut 0.15s ease-in;

    &-title {
        .roboto(19px, 130%, 700, #fff);
        margin-bottom: 40px;
    }

    &-panel {
        display: flex;
    }

    &-wrap {
        width: 145px;

        p {
            .roboto(12px, 130%, 400, #ffffff80)
        }

        span {
            .roboto(29px, 130%, 700, #fff)
        }
    }

    &-wrap {
        border-right: 2px solid #eaeaea40;
    }

    &-category {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-category:last-child &-wrap {

        border-right: none;
    }

    &-rate-btn {
        .rounded-button(#eaeaea, 22px, 7px);
        .roboto(@font-weight: 700, @color: #fff);
        margin-top: 20px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: #eaeaea;

            color: #282828;
        }

        &:active,
        &:focus {
            border-color: #fff;
            background-color: #fff;
            outline: none;

            color: #282828;
        }
    }

    &-warning {
        .roboto(12px, 130%, 400, #fff);
        max-width: 690px;
        margin-top: 20px;
    }

    .swiper-container {
        .ratings-rate-btn {
            color: #000;
            border-color: #eaeaea;
        }
    }
}


// ratings popup on hover
@keyframes fadeIn {

    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {

    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

// =============TODO animate fadeOut

.photo-image>img:hover~.ratings,
.ratings:hover {
    animation: fadeIn 0.15s ease-in;
    z-index: 2;
    display: flex;


}

// ===========TODO
.wall-block {
    padding: 45px 0 60px 0;

    .row.wrap {
        position: relative;
    }

    .ratings {
        display: none;
    }
}


.hero {
    padding-right: 20px;
    display: flex;


    .row {
        margin: 0;
    }

    padding-bottom: 50px;

    &-avatar {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        position: relative;
    }

    &-pro {
        position: absolute;
        bottom: 4px;
        right: 4px;
        background-color: #282828;
        border-radius: 2px;
        width: 23px;
        height: 11px;
        padding: 2px;

    }

    &-pro-icon {
        background: url(../assets/img/pro.svg) center / cover no-repeat;
        width: 100%;
        height: 100%;
    }

    &-wrap {
        width: calc(100% - 75px);
    }

    &-wrap>.row:first-child {
        height: 75px;
        justify-content: space-between;
        align-items: baseline;
    }

    &-description {
        margin-left: 20px;
        padding-top: 10px;

    }

    &-photo-name {
        .roboto(19px, 130%, 700);
        margin-bottom: 6px;
    }

    &-name {
        .roboto();
    }

    &-actions {
        display: flex;

        a {
            text-decoration: none
        }
    }

    &-subscribe {
        .rounded-button(transparent, 22px, 7px, #7BC220);
        .roboto(@font-weight: 700, @color: #fff);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: #61A30D;
            border-color: #61A30D;
        }

        &:active,
        &:focus {
            border-color: #4C8109;
            background-color: #4C8109;
            outline: none;

            i {
                color: #fff;
            }
        }
    }

    &-sendmail {
        .rounded-button(#eaeaea, 0);
        width: 40px;
        height: 40px;
        margin-left: 10px;
        text-decoration: none;

        i {
            font-size: 15px;
            line-height: 175%;
            color: #282828;
        }

        &:hover {
            background-color: #eaeaea;
        }

        &:active,
        &:focus {
            border-color: #bcbcbc;
            background-color: #bcbcbc;
            outline: none;
        }
    }

    &-more {
        display: none;
    }

    &-about {
        max-width: 800px;
        margin-left: 20px;
        position: relative;
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 25px 28px;
        background-color: #f4f4f4;
        border-radius: 25px;

        p {
            .roboto()
        }
    }

    &-about:before {

        display: block;
        content: ' ';
        background-image: url('.././assets/img/chunk.svg');
        background-size: 35px 51px;
        background-repeat: no-repeat;
        background-position: center;
        width: 35px;
        height: 51px;
        position: absolute;
        left: -30px;
        top: 0;
    }

    &-about.mobile {
        display: none;
    }
}

.comments {
    .row {
        margin: 0;
    }

    &-number {
        margin-bottom: 17px;

        span {
            .roboto(12px, 130%)
        }
    }

    &-textfield {
        padding: 40px 20px 40px 0;
        border-top: 1px solid #EAEAEA;

        textarea {
            .roboto();
            border: 2px solid #EAEAEA;
            border-radius: 10px;
            padding: 10px 20px;
            width: calc(100% - 70px);
            margin-left: auto;
            min-height: 67px;
            outline: none;
            resize: none;
            overflow: hidden;
        }
    }

    &-post-comment {
        margin-top: 10px;
        margin-left: auto;
        .rounded-button(#eaeaea, @padX: 22px, @padY: 7px);
        .roboto(@font-weight: 700);
        outline: none;
        cursor: pointer;


        &:hover {
            background-color: #eaeaea;
        }

        &:active,
        &:focus {
            border-color: #bcbcbc;
            background-color: #bcbcbc;
            outline: none;
        }

    }

    &-user-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &-wallpost {
        padding: 20px 0;
    }
}


// posts

.post {
    &-container {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        min-width: fit-content;
    }

    &-wrapper {
        display: flex;
        width: 100%;
    }

    &-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &-content {
        margin-left: 20px;
        width: calc(100% - 70px);
    }

    .flex {
        width: 100%;
    }

    &-name {
        .roboto(12px, 130%, 700);
        white-space: nowrap;

    }

    &-date {
        margin-left: 20px;
        .roboto(12px, 130%, @color: #BCBCBC);
        white-space: nowrap;
    }

    &-text {
        margin-top: 8px;
        .roboto();
    }

    &-actions {
        margin-top: 20px;
        display: none;
        width: 100%;
    }

    &-like {
        margin-left: 9px;
    }

    &-warning {
        margin-left: auto;
    }



    &-container:hover {
        background-color: #f4f4f4;
        border-radius: 20px;
    }

    &-container:hover &-actions {
        display: flex;
    }

    &-btn {
        .rounded-button(#eaeaea, @padX: 0, @bg-color: #fff);
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            background-color: #eaeaea;
        }

        &:active,
        &:focus {
            border-color: #bcbcbc;
            background-color: #bcbcbc;
            outline: none;
        }
    }

    &>.post-answer {
        width: calc(100% - 40px);
        margin-left: auto;
    }
}

.info {

    &-block {
        position: absolute;
        right: 0;
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 62px;
    }

    &-tag {
        .rounded-button(transparent, 13px, 13px, #EAEAEA);
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        span {
            .roboto(12px, 117%)
        }
    }

    &-common {
        margin-bottom: 64px;

        p {
            .roboto()
        }

        span {
            font-weight: 700;
        }
    }

    &-rewards {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 75px;
        max-width: 426px;

        .flex {
            align-items: center;
            width: 100%;

            &:first-child {
                justify-content: center;
                margin-bottom: 8px;

                .info-prize:nth-child(n + 2) {
                    margin-left: 30px;
                }
            }

            &:last-child {
                justify-content: center;
            }
        }
    }

    &-prize {
        width: 84px;
        height: 84px;
    }

    &-prize.week1 {
        background: url(../assets/img/rewards/Frame-3.svg) center / cover no-repeat;
    }

    &-prize.day1 {
        background: url(../assets/img/rewards/Frame-6.svg) center / cover no-repeat;
    }

    &-prize.m20 {
        background: url(../assets/img/rewards/Frame-5.svg) center / cover no-repeat;
    }

    &-prize.m200 {
        background: url(../assets/img/rewards/Frame-4.svg) center / cover no-repeat;
    }

    &-prize.w20 {
        background: url(../assets/img/rewards/Frame-1.svg) center / cover no-repeat;
    }

    &-prize.w50 {
        background: url(../assets/img/rewards/Frame-2.svg) center / cover no-repeat;
        margin: 0 30px;
    }

    &-prize.artistical {
        background: url(../assets/img/rewards/Frame.svg) center / cover no-repeat;
    }

    &-location {
        margin-bottom: 53px;

        p {
            .roboto()
        }


    }

    &-map {
        width: 100%;
        height: 245px;
        margin-bottom: 8px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        border-radius: 10px;
    }

    &-device {
        padding: 33px 0;
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;

        p {
            .roboto(@line-height: 100%);
        }

        .icon {
            width: 23px;
            height: 23px;
            margin-right: 10px;
        }
    }

    &-camera {
        display: flex;
        margin-bottom: 30px;

        .icon {
            background: url(../assets/img/tech-icons/camera.svg) center / cover no-repeat;
        }

        p:first-child {
            font-weight: 700;
            margin-bottom: 10px;
        }

        .model {
            padding-top: 6px;
        }

    }

    &-tech {
        display: flex;
        flex-wrap: wrap;

        div {

            display: flex;
            align-items: center;
            margin-right: 40px;

            &:first-child .icon {
                background: url(../assets/img/tech-icons/clock.svg) center / cover no-repeat;
            }

            &:nth-child(2) .icon {
                background: url(../assets/img/tech-icons/lock.svg) center / cover no-repeat;
            }

            &:nth-child(3) .icon {
                background: url(../assets/img/tech-icons/iso.svg) center / cover no-repeat;
            }

            &:last-child {
                margin-right: unset;

                .icon {
                    background: url(../assets/img/tech-icons/angle.svg) center / cover no-repeat;
                }
            }



        }


    }

    &-meta {
        padding-top: 30px;

    }

    &-exif {
        display: block;
        text-decoration: none;

        .flex {
            align-items: center;
        }

        p {
            .roboto();
        }
    }

    &-btn {
        .rounded-button(#eaeaea, @padX: auto);
        width: 40px;
        height: 40px;
        margin-right: 10px;

        span {
            text-transform: uppercase;
            .roboto(10px, @font-weight: 900)
        }

        &:hover {
            background-color: #eaeaea;
        }

        &:active,
        &:focus {
            border-color: #bcbcbc;
            background-color: #bcbcbc;
            outline: none;
        }
    }
}


// media-queries
@media (max-width: 1439px) {
    .info {
        &-rewards {
            .flex {
                align-items: center;
                width: 100%;

                &:first-child {
                    justify-content: space-between;

                    .info-prize:nth-child(n + 2) {
                        margin-left: unset;
                    }
                }

                &:last-child {
                    justify-content: center;
                }
            }


        }

        &-prize.w50 {
            margin: 0 20px;
        }

        &-tech div {
            margin-right: 35px;
        }
    }
}

@media (max-width: 1279px) {

    .photo-image>img:hover~.ratings,
    .ratings:hover {
        display: none;


    }

    .photo {
        &-block .col-xs-12 {
            padding: 0;
        }

        &-action-left {
            order: 1;
            flex-direction: row-reverse;
            margin-top: 10px;
        }

        &-btn-share {
            margin-right: -30px;
        }

        &-btn-prev {
            display: none;
        }


        &-view {
            order: 0;
        }


        &-action-right {
            order: 2;
            margin-top: 10px;
        }

        &-btn-next {
            display: none;
        }

        &-btn-expand {
            display: none;
        }

    }

    .wall-block {

        .col-xs-12 {
            padding: 0;
        }

        .hero {
            padding-bottom: 40px;
        }

        .ratings {
            display: block;
            height: auto;

            background-color: transparent;
            position: static;

            h5,
            p,
            span {
                color: #282828;
            }

            p {
                color: #bcbcbc;
                margin: auto;
            }

            &-title {
                font-size: 15px;
                line-height: 175%;
            }

            &-panel {
                padding: 20px 0;
                width: fit-content;
                margin: 0 auto;
            }

            &-wrap {
                border-color: #eaeaea;
            }

            // rewriting swiper style
            .swiper-container {
                border-top: 1px solid #EAEAEA;
                border-bottom: 1px solid #EAEAEA;
            }

            .swiper-slide {
                width: auto;
            }

        }
    }

    .info {

        &-block {
            position: static;

            &.col-xs-12 {
                padding: 55px 0 40px;
            }
        }

        &-tags {
            margin-bottom: 22px;
        }

        &-common {
            margin-bottom: 45px;
        }

        &-rewards {
            max-width: unset;

            .flex {

                &:first-child {
                    width: auto;
                    margin-bottom: 0;

                    .info-prize {
                        margin-right: 20px;
                    }
                }

                &:last-child {
                    width: auto;
                }
            }
        }

        &-prize.w50 {
            margin: 0 20px;
        }

    }

    .comments {
        order: 1;

        &-number {
            text-align: center;
        }
    }
}

@media (max-width: 990px) {
    .photo-preview-nav {
        display: none;
    }
}

@media (max-width: 767px) {


    // ============ slider troubleshooting
    .wall-block.container {
        .ratings {
            width: 100vw;
            margin-left: -20px;

            &-panel {
                border: none;
                // setting swiper wrapper width default value
                width: 100%;
            }

            &-warning {
                margin: 0 20px;
            }
        }

    }

    .hero {
        flex-wrap: wrap;

        &-wrap {
            width: calc(100% - 50px);

            &>.row:first-child {
                align-items: center;
                height: 50px;
            }
        }

        &-about {
            display: none;
        }

        &-about.mobile {
            display: flex;
            margin-top: 22px;
            margin-left: 0;
        }

        &-about.mobile:before {
            content: '';
            background: url(../assets/img/chunk2.svg) center / contain no-repeat;
            position: absolute;
            top: -31px;
            left: 40px;
        }

        &-about.mobile p {
            font-size: 12px;
            line-height: 130%;
        }

        &-subscribe {
            display: none;
        }

        &-sendmail {
            display: none;
        }

        &-more {
            display: flex;
            .rounded-button(transparent, 0, @bg-color: #eaeaea);

            i {
                color: #282828;
            }

            &:hover {
                background-color: #bcbcbc;
                border-color: #bcbcbc;
            }

            &:active,
            &:focus {
                border-color: #434343;
                background-color: #434343;
                outline: none;

                i {
                    color: #fff;
                }
            }
        }

        &-avatar {
            width: 50px;
            height: 50px;
        }

        &-description {
            margin-left: 10px;
            padding-top: 0;
        }

        &-photo-name {
            font-size: 15px;
            margin-bottom: 0;
        }

    }

    .info {
        &-rewards {
            max-width: 354px;
            margin: 0 auto;
            margin-bottom: 54px;

            .flex {
                align-items: center;


                &:first-child {
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 3px;

                    &>.info-prize:nth-child(n + 2) {
                        margin-left: unset;
                    }

                    &>.info-prize {
                        margin-right: unset;
                    }

                    &>.week1 {
                        margin-left: 0;
                    }
                }



                &:last-child {
                    justify-content: center;
                    width: 100%;
                }
            }
        }

        &-prize.w50 {
            margin: 0 8px;
        }
    }

    .post {
        &>.post-answer {
            width: 100%;
            margin-left: unset;
        }

        &-content>.flex {
            flex-direction: column;
        }

        &-date {
            margin: 0;
        }
    }
}

// ============ slider troubleshooting






@media (max-width: 480px) {

    .wall-block.container {
        .ratings {
            margin-left: -10px;
        }
    }

    .info {
        &-rewards {

            .flex {

                &:first-child {
                    &>.info-prize {
                        margin-left: 6px;
                    }

                    &>.week1 {
                        margin-left: 0;
                    }
                }

            }
        }

        &-prize.w50 {
            margin: 0 6px;
        }

        &-tech {
            div:last-child {
                margin-top: 10px;
            }


        }

        &-map {
            height: 205px;
        }
    }
}



@media (max-width: 374px) {


    .info {
        &-rewards {

            .flex {

                &:first-child {
                    justify-content: space-between;

                    &>.info-prize {
                        margin-left: 0;
                    }

                    &>.week1 {
                        margin-left: 0;
                    }
                }


            }




        }

        &-prize {
            width: 75px;
            height: 75px;
        }

        &-prize.w50 {
            margin: 0 3px;
        }
    }

    .post {
        &-name {
            margin-bottom: 5px;
        }

        &-container {
            padding: 10px;
        }

        &-text {
            font-size: 12px;
        }
    }
}