.h1(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 130%;
    color: @color;

}

.h1_bold(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 130%;
    color: @color;

}

.h3(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color: @color;

}
.h3_bold(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: @color;
}

.h3_black(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 130%;
    color: @color;
}

.h4(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23.4375px;
    line-height: 130%;
    color: @color;
}

.h4_black(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 23.4375px;
    line-height: 130%;
    color: @color;

}

.h4_bold(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23.4375px;
    line-height: 130%;
    color: @color;
}

.h5(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.75px;
    line-height: 130%;
    color: @color;
}

.h5_bold(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18.75px;
    line-height: 130%;
    color: @color;
}

.p(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 175%;
    color: @color;

}

.p_bold(@color: #c4c4c4) {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 175%;
    color: @color;
}

.small(@color: #c4c4c4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: @color;
}

// VARIABLES COLORS

@black: #282828;
@dark: #434343;
@dark-grey: #BCBCBC;
@grey: #eaeaea;
@light-grey: #f4f4f4;
@white: #ffffff;
@green: #7BC220;


.rounded-button(@border-color: #2828281A, @padX, @padY: 5px, @bg-color: transparent) {
    border: 2px solid @border-color;
    border-radius: 10px;
    padding: @padY @padX;
    background-color: @bg-color;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
}

.roboto(@size: 15px, @line-height: 175%, @font-weight: 400, @color: #282828) {
    font-family: Roboto;
    font-style: normal;
    font-weight: @font-weight;
    font-size: @size;
    line-height: @line-height;
    color: @color;
}