* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.container {
    max-width: 1320px;
    margin: auto;
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .container {
        max-width: 1175px;
    }
}
@media (max-width: 767px) {
    .container { 
        width: calc(100% - 40px);
        margin: 0 auto;        
    }   
}