.add-album-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #434343cc;
  z-index: 999;
}
.add-album-menu .wrap {
  position: relative;
  width: 560px;
  max-width: 90%;
  padding: 40px;
  background-color: #434343;
  margin: calc(50vh - 112px) auto;
  border-radius: 20px;
}
.add-album-menu h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18.75px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}
.add-album-menu .album-name-field {
  margin-bottom: 20px;
  color: #ffffff;
  border-color: #ffffff1a;
  background-color: #4C4C4C;
}
.add-album-menu .album-name-field::-webkit-input-placeholder {
  color: #777777;
}
.add-album-menu .album-name-field::-moz-placeholder {
  color: #777777;
}
.add-album-menu .album-name-field:-moz-placeholder {
  color: #777777;
}
.add-album-menu .album-name-field:-ms-input-placeholder {
  color: #777777;
}
.add-album-menu .album-name-field::placeholder {
  color: #777777;
}
.add-album-menu .add-album-close {
  font-size: 20px;
  line-height: 165%;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.add-album-menu .create-album-button.btn {
  color: #ffffff;
  width: fit-content;
  margin-left: auto;
}
.add-album-menu .create-album-button.btn:hover,
.add-album-menu .create-album-button.btn:focus {
  background-color: #eaeaea;
  color: #282828;
  border-color: transparent;
}
.add-album-menu .create-album-button.btn:active {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #282828;
  outline: none;
}
@media (max-width: 767px) {
  .add-album-menu .wrap {
    padding: 40px 20px;
  }
}
.add-camera-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #434343cc;
  z-index: 999;
}
.add-camera-menu .wrap {
  position: relative;
  width: 560px;
  max-width: 90%;
  padding: 40px;
  background-color: #434343;
  margin: calc(50vh - 112px) auto;
  border-radius: 20px;
}
.add-camera-menu h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18.75px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}
.add-camera-menu .add-camera-button {
  border: 2px solid #EAEAEA;
  border-radius: 10px;
  padding: 5px 22px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 40px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
  width: fit-content;
  margin-left: auto;
  color: #5E5E5E;
  border-color: #5E5E5E;
}
.add-camera-menu .add-camera-button:not(.disabled) {
  color: #ffffff;
  border-color: #ffffff;
}
.add-camera-menu .add-camera-button:not(.disabled):hover,
.add-camera-menu .add-camera-button:not(.disabled):focus {
  background-color: #eaeaea;
  color: #282828;
  border-color: transparent;
}
.add-camera-menu .add-camera-button:not(.disabled):active {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #282828;
  outline: none;
}
.add-camera-selects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.add-camera-selects label.brand-select,
.add-camera-selects label.model-select {
  width: calc(50% - 5px);
  color: #ffffff;
  border-color: #ffffff1a;
  background-color: #4C4C4C;
}
.add-camera-selects label.brand-select:after,
.add-camera-selects label.model-select:after {
  color: #eaeaea;
  z-index: 5;
  top: 5px;
}
.add-camera-close {
  font-size: 20px;
  line-height: 165%;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .add-camera-menu .wrap {
    padding: 40px 20px;
    margin: calc(50vh - 137px) auto;
  }
  .add-camera-selects label.brand-select,
  .add-camera-selects label.model-select {
    width: 100%;
  }
  .add-camera-selects label.brand-select {
    margin-bottom: 10px;
  }
}
.add-lens-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #434343cc;
  z-index: 999;
}
.add-lens-menu .wrap {
  position: relative;
  width: 560px;
  max-width: 90%;
  padding: 40px;
  background-color: #434343;
  margin: calc(50vh - 112px) auto;
  border-radius: 20px;
}
.add-lens-menu h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18.75px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}
.add-lens-menu .add-lens-button {
  border: 2px solid #EAEAEA;
  border-radius: 10px;
  padding: 5px 22px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 40px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
  width: fit-content;
  margin-left: auto;
  color: #5E5E5E;
  border-color: #5E5E5E;
}
.add-lens-menu .add-lens-button:not(.disabled) {
  color: #ffffff;
  border-color: #ffffff;
}
.add-lens-menu .add-lens-button:not(.disabled):hover,
.add-lens-menu .add-lens-button:not(.disabled):focus {
  background-color: #eaeaea;
  color: #282828;
  border-color: transparent;
}
.add-lens-menu .add-lens-button:not(.disabled):active {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #282828;
  outline: none;
}
.add-lens-selects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.add-lens-selects label.brand-select,
.add-lens-selects label.model-select {
  width: calc(50% - 5px);
  color: #ffffff;
  border-color: #ffffff1a;
  background-color: #4C4C4C;
}
.add-lens-selects label.brand-select:after,
.add-lens-selects label.model-select:after {
  color: #eaeaea;
  z-index: 5;
  top: 5px;
}
.add-lens-close {
  font-size: 20px;
  line-height: 165%;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .add-lens-menu .wrap {
    padding: 40px 20px;
    margin: calc(50vh - 137px) auto;
  }
  .add-lens-selects label.brand-select,
  .add-lens-selects label.model-select {
    width: 100%;
  }
  .add-lens-selects label.brand-select {
    margin-bottom: 10px;
  }
}
@media (max-width: 374px) {
  .add-lens-menu .wrap {
    margin: calc(50vh - 149px) auto;
  }
}
.popup-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #434343cc;
  z-index: 999;
}
.popup-menu .wrap {
  position: relative;
  min-width: 230px;
  width: fit-content;
  max-width: 90%;
  padding: 40px;
  background-color: #434343;
  margin: calc(50vh - 112px) auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}
.popup-menu .insertion {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18.75px;
  line-height: 130%;
  color: #ffffff;
}
.popup-menu .insertion h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
}
.popup-menu .insertion form {
  padding-top: 10px;
  padding-right: 10px;
}
.popup-menu .insertion textarea {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  min-height: 67px;
  outline: none;
  resize: none;
  overflow: hidden;
}
.popup-menu .insertion p {
  margin-top: 20px;
}
.popup-menu .insertion .btn {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 5px 22px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 40px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175%;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.popup-menu .insertion .btn:hover,
.popup-menu .insertion .btn:focus {
  background-color: #eaeaea;
  color: #282828;
}
.popup-menu .insertion .btn:active {
  border-color: #fff;
  background-color: #fff;
  color: #282828;
  outline: none;
}
.popup-menu .popup-close {
  font-size: 20px;
  line-height: 165%;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .popup-menu .insertion {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 175%;
    color: #ffffff;
  }
  .popup-menu .insertion h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18.75px;
    line-height: 130%;
    color: #ffffff;
  }
}
.upload-top {
  padding: 80px 0 40px;
  text-align: center;
}
.upload-top h1 {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  color: #282828;
  font-weight: 400;
}
.upload-top h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #282828;
  font-weight: 400;
}
input[type="submit"] {
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 5px 22px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 40px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
  width: fit-content;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #eaeaea;
}
input[type="submit"]:active {
  border-color: #bcbcbc;
  background-color: #bcbcbc;
  outline: none;
}
input[type="text"]::-moz-placeholder {
  color: #eaeaea;
}
input[type="text"]:-moz-placeholder {
  color: #eaeaea;
}
input[type="text"]:-ms-input-placeholder {
  color: #eaeaea;
}
input[type="text"]::-webkit-input-placeholder {
  color: #eaeaea;
}
input[type="text"]::placeholder {
  color: #eaeaea;
}
@media (max-width: 1279px) {
  .upload-top {
    padding: 60px 0 20px;
  }
}
@media (max-width: 767px) {
  .upload-top {
    padding: 40px 0 20px;
  }
}
.file {
  height: calc(100vh - 318px);
  min-height: 620px;
  text-align: center;
}
.file-warn {
  background-color: #F6F2E2;
  border-radius: 10px;
  padding: 17px 0;
  margin-bottom: 80px;
}
.file-warn p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
}
.file-photo {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  padding-bottom: 40px;
}
.file-photo input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  outline: none;
  top: 0;
  left: 0;
}
.file-photo .replacement {
  background: #ffffff0d;
  border: 2px solid #EAEAEA;
  width: 560px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
  outline: none;
  text-overflow: ellipsis;
  line-break: strict;
}
.file-photo i {
  font-size: 16px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.file-area {
  position: relative;
}
.file-about p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 175%;
  color: #BCBCBC;
}
.file-about b {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 175%;
  color: #282828;
}
@media (max-width: 1279px) {
  .file .submit-button {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .file {
    min-height: 690px;
  }
  .file-warn {
    padding: 17px 20px;
  }
  .file-photo {
    flex-direction: column;
    width: 100%;
  }
  .file-photo .replacement {
    width: 100%;
  }
  .file-photo button[type=submit] {
    width: 155px;
    margin: 0 auto;
  }
  .file-area {
    padding-bottom: 10px;
  }
}
@media (max-width: 479px) {
  .file {
    min-height: unset;
    height: auto;
  }
  .file .replacement span {
    display: none;
  }
  .file-about {
    padding-bottom: 80px;
  }
}

