extends layouts/page2.pug
block content 
    .authorization
        .container.flex 
            h4.authorization-title Вход
            form.authorization-form(name="login_form" id="login_form" action="http://localhost:80/test.php" method="post")
                input(placeholder="Ваш логин" title="логин" name="LoginForm[username]" id="LoginForm_username" type="text").authorization-login
                input( placeholder="Пароль" title="пароль" name="LoginForm[password]" id="LoginForm_password" type="password").authorization-password
                input(type="hidden" name="yt1" value="войти")
                button(type="submit").authorization-submit Войти
                a(href="forgot_password" rel="nofollow").authorization-remind Забыли пароль?
            .authorization-social
                p Войти через
                a(href="#").authorization-btn-social
                    i.fab.fa-facebook
                a(href="#").authorization-btn-social
                    i.fab.fa-vk
            .authorization-alt-action 
                p У вас ещё нет аккаунта?&nbsp;
                a(href="register.html").authorization-register Зарегистрироваться
                