extends layouts/page.pug

block title 
    title Photosight - Контентная страница

block content
    main.content
        section.content-top
            .container
                .row 
                    .col-lg-8.col-xs-12
                        h1.content-title Заголовок страницы
                        .content-anchors
                            .item
                                i.far.fa-chevron-square-right
                                a(href="#").anchor Первая ссылка-якорь
                            .item
                                i.far.fa-chevron-square-right
                                a(href="#").anchor Вторая ссылка-якорь
                            .item
                                i.far.fa-chevron-square-right
                                a(href="#").anchor Третья ссылка-якорь
        section
            .container
                .row 
                    .col-lg-8.col-xs-12
                        h3.content-subtitle Подзаголовок
                        p.content-text Права на все фотографии, размещенные на Фото.Сайте, принадлежат авторам этих фото. По вопросам использования фотографий в каких-либо целях убедительная просьба обращаться к их авторам. Контакты авторов вы можете найти на их личной странице или же связаться через личные сообщения <a href="#" class="link">это ссылка в тексте</a>.
        section
            .container
                .row 
                    .col-lg-8.col-xs-12
                        h3.content-subtitle Что такое Фото.Сайт
                        .subsection
                            h5.content-subtitle-2 Подзаголовок второго уровня
                            p.content-text Вы попали в интерактивный клуб, где наиболее удобно, полно и зрелищно реализовано общение энтузиастов фотоискусства со всего мира на русском языке! Участники могут показывать друг другу и тысячам зрителей фотографии, получать и писать отзывы, участвовать в рейтингах и конкурсах, заводить творческие контакты, накапливать собственное портфолио... Все это дает неограниченные возможности приятного досуга и творческого роста одновременно.
                            p.content-text Зарегистрированные пользователи Фото.сайта размещают фотографии самостоятельно, Администрация Фото.сайта осуществляет только пост-модерацию. Однако мы не приветствуем появление на сайте бессодержательных для стороннего зрителя семейных фотографий, вроде «я на фоне дачи, Кремля, памятника...». Подразумевается, что автор сам может оценить достоинства своего произведения. Если это затруднительно, приглашаем вас посмотреть уже имеющиеся на сайте и высоко оцененные работы, например, в рейтинге лучших.
                            p.content-text Зарегистрированный пользователь, разместивший фотографию на Фото.сайте, гарантирует, что является автором фотографии и/или ему принадлежат исключительные права на данную фотографию.
                            p.content-text При размещении фотографий с изображениями людей зарегистрированный пользователь гарантирует, что им получено согласие на размещение изображения человека в Интернете, либо на фотографии модель, которой были оплачены услуги, либо съемка была сделана в общественном месте и изображенный человек является не основным объектом съемки. Кроме того, зарегистрированный пользователь гарантирует, что ни фотография в целом, ни какие-либо из ее частей не будут нарушать законодательство о товарных знаках, авторском праве и смежных правах, законные права и интересы третьих лиц, не нанесут ущерба их чести, достоинству и деловой репутации, что получены соответствующие разрешения от всех лиц, организаций или учреждений, чьи права могли быть затронуты в ходе создания фотографии, в том числе получено согласие на осуществление съемки от лица, являющегося владельцем помещения, внутри которого производилась фотосъемка.
                            p.content-text Публикуя фотографию на Фото.сайте, зарегистрированный пользователь тем самым дает свое согласие Администрации Фото.сайта на воспроизведение этой фотографии, ее распространение в Интернете на Фото.сайте и на официальных страницах Фото.сайта в социальных сетях (с обязательной ссылкой на автора фотографии) по простой лицензии на территории всех стран мира на весь срок действия исключительного права или до момента удаления фотографии с сайта зарегистрированным пользователем.
                .subsection
                    .row 
                        .col-lg-8.col-xs-12
                            h5.content-subtitle-2 Ненумерованный список:
                            ul
                                li 
                                    span клевету и оскорбление, не соответствующие действительности сведения;
                                li 
                                    span информацию непристойного характера;
                                li 
                                    span сцены суицида, насилия, пропаганду и публичное демонстрирование нацистской атрибутики или символики, призывы к разжиганию межнациональной розни (статья 20.3. «Пропаганда и публичное демонстрирование нацистской атрибутики или символики» в ред. Федерального закона от 25.07.2002 N 112-ФЗ);
                                li 
                                    span религиозную символику, используемую в целях оскорбления религиозных чувств верующих;
                                li 
                                    span предлагающие товары/услуги, оборот которых запрещен или ограничен российским законодательством;
                .subsection 
                    .row 
                        .col-lg-8.col-xs-12
                            h5.content-subtitle-2 Нумерованный список:
                            ol
                                li 
                                    span клевету и оскорбление, не соответствующие действительности сведения;
                                li 
                                    span информацию непристойного характера;
                                li 
                                    span сцены суицида, насилия, пропаганду и публичное демонстрирование нацистской атрибутики или символики, призывы к разжиганию межнациональной розни (статья 20.3. «Пропаганда и публичное демонстрирование нацистской атрибутики или символики» в ред. Федерального закона от 25.07.2002 N 112-ФЗ);
                                li 
                                    span религиозную символику, используемую в целях оскорбления религиозных чувств верующих;
                                li 
                                    span предлагающие товары/услуги, оборот которых запрещен или ограничен российским законодательством;
                .subsection
                    .row 
                        .col-lg-8.col-xs-12
                            h5.content-subtitle-2 Таблица в тексте
                            .t-wrap
                                table 
                                    thead
                                        tr
                                            th Первый столбец
                                            th Второй столбец
                                            th.final Итог
                                    tbody 
                                        tr 
                                            td Первая строка
                                            td Ещё одна первая строка
                                            td.final Первый итог
                                        tr 
                                            td Вторая строка
                                            td Какая-то вторая строка
                                            td.final Вторая итог
                                        tr 
                                            td Третья строка
                                            td Снова третья строка
                                            td.final Третий итог
                            span.comment Комментарий к таблице
                .subsection
                    .row 
                        .col-lg-8.col-xs-12
                            h5.content-subtitle-2 Изображение в тексте
                            .image
                                img(src="img/popgallery/image%205.jpg")
                                span.comment Комментарий к изображению
                            p.content-text При размещении фотографий в раздел «Фотомодели» помните, что фотография должна соответствовать этому разделу. Данный раздел предназначен только для размещения фотомоделями своих изображений, на которые у них есть право. Запрещается размещение фотомоделями своих фотографий в другие разделы. Фотографам запрещается ставить в этот раздел свои фотографии.
                            p.content-text Запрещаются оскорбления других пользователей Фото.Сайта в комментариях, публичное выяснение отношений в оскорбительной форме, непристойное поведение. Категорически запрещена оценках внешних данных и личностных качеств изображенных на фотографиях моделей.
                            p.content-text Запрещается прямая реклама товаров и сторонних конкурирующих ресурсов в именах и никнеймах пользователей на сайте, в названии фотографий и др.
                            p.content-text Публикация поздравительных открыток с компьютерной обработкой и наложением текста на изображение категорически запрещена. Поздравление вы сможете оставить под фотографией в описании работы.
                            p.content-text Запрещено размещение бессодержательных фото с пляжей, купален, бассейнов и т.п. в разделе «Папарацци».
                            p.content-text Кроме того, запрещено использование средств автоматизации для проставления оценок, публикации комментариев или регистрации новых аккаунтов. Их использование влечет за собой удаление аккаунта, с которого производились подобные действия.

