doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        title Photosight - Главная
    body
        include ./includes/burger-menu.pug 
        include ./includes/header.pug
        main.main
            .swiper-container.slider
                .swiper-wrapper 
                    div(style="background: url(./img/maingallery/6961078_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/6963472_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/6964117_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/7015655_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/7059841_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/7063157_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/7074224_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/7075800_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                    div(style="background: url(./img/maingallery/7110738_xlarge.jpg) center / cover no-repeat").swiper-slide.slide
                        .slide-footer    

                            span.slide-photo-name Холмы Словении &copy;
                                b.slide-photographer  Roman Bevzenko
                            
                a.slider-btn-prev
                    i.fas.fa-chevron-left
                a.slider-btn-next
                    i.fas.fa-chevron-right
        include ./includes/mini-footer.pug  