extends layouts/page.pug

block title 
    title Photosight - Фотографии



block content
    main.content
        .dropdown
            a(href="#") Архитектура и интерьер
            a(href="#") Гламур
            a(href="#") Детский мир
            a(href="#") Город
            a(href="#") Ню (18+)
        .content-top
            .container
                h1.content-title Все фотографии
                .content-nav.flex
                    .content-categories Все рубрики
                    include includes/nav-tabs.pug
                        block tabs
                            +tabs(['Все', 'Новые', 'Популярные', 'Выбор редакции', ''])
                    .content-current-page
                        input(type="text" value="1")
                        span стр.
        .content-body
            include includes/ads.pug
                block mocks
                    .ads-unit
                        img(src="./img/mock-ads/1.jpg" alt="mock")
                    .ads-unit
                        img(src="./img/mock-ads/2.jpg" alt="mock")
                    .ads-unit
                        img(src="./img/mock-ads/3.jpg" alt="mock")
            .content-gallery    
                .container
                    include includes/jg.pug

        .content-footer 
            .container.flex
                .content-pagination.pagination
                .content-current-page
                    input(type="text" value="1")
                    span стр.
            include includes/ads.pug
                block mocks
                    .ads-unit
                        img(src="./img/mock-ads/1.jpg" alt="mock")
                    .ads-unit
                        img(src="./img/mock-ads/2.jpg" alt="mock")
                    .ads-unit
                        img(src="./img/mock-ads/3.jpg" alt="mock")

block scripts
    //- for JS
    script(src="./js/libs/jquery.justifiedGallery.js")