extends layouts/profile.pug
block profileContents
    //- =====> вкладка Фотографии
    //- include includes/profile/photos.pug

    //- =====> вкладка Подписчики
    //- include includes/profile/subscribers.pug

    //- =====> вкладка Альбомы
    //- include includes/profile/albums.pug

    //- =====> вкладка Статистика
    //- include includes/profile/statistics.pug

    //- =====> вкладка Избранное
    include includes/profile/favorites.pug

