extends layouts/profile.pug
block profileContents
    //- =====> вкладка Фотографии
    //- include includes/profileContents/photos.pug 

    //- =====> вкладка Подписчики
    //- include includes/profileContents/subscribers.pug

    //- =====> вкладка Альбомы
    //- include includes/profileContents/albums.pug

    //- =====> вкладка Статистика
    //- include includes/profileContents/statistics.pug

    //- =====> вкладка Избранное
    include includes/profileContents/favorites.pug

