extends layouts/page.pug

block title 
    title Photosight - Профиль

block content
    include includes/popup.pug
    main.profile
        .profile-top
            .hero 
                .dots-menu
                        .dots-wrap
                            a(href="#").dots-option.complain Пожаловаться
                            a(href="#").dots-option.ignore Заблокировать
                .container.flex
                    .flex
                        div(style="background-image: url(./img/profile/avatar.jpg").hero-avatar
                    .hero-wrap
                        .flex 
                            .hero-description
                                h3.hero-name Дмитрий Зеленский
                                p.hero-location Россия, Ставрополь,
                                    span.hero-last-visited  был 18 декабря, 16:56
                                    span(style="display: none;").hero-online онлайн
                            .hero-contacts
                                a(href="#").hero-contact-link
                                    i.fab.fa-facebook
                                a(href="#").hero-contact-link
                                    i.fab.fa-vk
                                a(href="#").hero-contact-link.phone
                                    i.fas.fa-phone
                                    span +7 (903) 567-45-67
                                a(href="#").hero-contact-link
                                    i.fab.fa-flickr
                                a(href="#").hero-contact-link
                                    i.fab.fa-500px
                                a(href="#").hero-contact-link
                                    i.fab.fa-behance
                        .hero-about 
                            p i am a hobbyphotographer from passion...versatile and creative ...i make all myself Self portraits i am a hobbyphotographer from passion...versatile and creative ...i make all myself Self portraits

            .nav
                .info
                    .info-container
                        .swiper-wrapper
                            .info-block.swiper-slide
                                p.text загружено<br>фотографий
                                p.data.uploaded 44
                            .info-block.swiper-slide
                                p.text получено<br>комментариев
                                p.data.received 431
                            .info-block.swiper-slide
                                p.text написано<br>комментариев
                                p.data.written 110
                            .info-block.swiper-slide
                                p.text подписано<br>пользователей
                                p.data.subscribers 36
                            .info-block.swiper-slide
                                p.text избранных<br>авторов
                                p.data.authors 5
                            .info-block.swiper-slide
                                p.text оценённых<br>фотографий
                                p.data.rated 113
                            .info-block.swiper-slide
                                p.text просмотров<br>фотографий
                                p.data.viewed 91 156

                .nav-actions
                    a.nav-btn.nav-info
                        i.fas.fa-info
                    a(data-member-id="460877").nav-btn.nav-subscribe 
                        span Подписаться
                    a(href="#").nav-btn.nav-message
                        i.fas.fa-envelope
                    a.nav-btn.nav-more
                        i.fas.fa-ellipsis-h
                    

                include includes/nav-tabs.pug
                    block tabs
                        +tabs(['Фотографии', 'Альбомы', 'Избранное', 'Статистика', 'Подписчики', ''])
        .profile-body
            //- =====> вкладка Фотографии
            include includes/profile/photos.pug

            //- =====> вкладка Подписчики
            //- include includes/profile/subscribers.pug

            //- =====> вкладка Альбомы
            //- include includes/profile/albums.pug

            //- =====> вкладка Статистика
            //- include includes/profile/statistics.pug

            //- =====> вкладка Избранное
            //- include includes/profile/favorites.pug

            //- =====> вкладка Альбом
            //- include includes/profile/album-look.pug

        //- .profile-footer 
            .container.flex
                .profile-pagination.pagination
                .profile-current-page 
                    input(type="text" value="1")
                    span стр.

        //- для просмотра Альбомов
        .profile-footer 
            .container.flex
                //- .album-backdrop
                    a(href="#").backdrop-btn
                        i.fas.fa-arrow-left
                .profile-pagination.pagination
                .profile-current-page 
                    input(type="text" value="1")
                    span стр.
        include includes/ads.pug
            block mocks
                .ads-unit
                    img(src="./img/mock-ads/5.jpg" alt="mock")

block scripts 
    //- for JG
    script(src="./js/libs/jquery.justifiedGallery.js")



