extends layouts/page.pug

block content
    main.search 
        .search-top
            h1.search-title Поиск
            form(name="search_form" class="search-form" action="https://photosight.ru/search/search_word/" method="get").search-form
                .search-textfield
                    a.search-btn
                        i.fas.fa-search
                    input(placeholder="введите текст для поиска" id="search" class="search-input" name="query").search-field
                    input(type="hidden" name="sort_type" value="weight" id="sort_type_hidden")
                .search-navigation
                    .search-tabs
                        .container
                            include includes/nav-tabs.pug
                                block tabs
                                    +tabs(['Фотографии', 'Пользователи'])
                    .search-found
                        .container
                            //- PHOTOS search result
                            //- .search-result
                                p Найдено&nbsp;<span>801</span>&nbsp;фото
                            //- USERS search result
                            .search-result
                                p Найдено&nbsp;<span>14</span>&nbsp;пользователей
                            .search-current-page
                                input(type="text" value="1")
                                span стр.
                            
                    //- PHOTOS search options
                    .search-options
                        .options.swiper-container
                            .container.swiper-wrapper
                                .search-params-field.swiper-slide
                                    input(type="radio" value="all" id="look_at_0" checked="checked" name="look_at").checked
                                    label(for="all") Искать везде
                                .search-params-field.swiper-slide
                                    input(type="radio" value="names" id="look_at_1" name="look_at")
                                    label(for="name") В названии
                                .search-params-field.swiper-slide
                                    input(type="radio" value="options" id="look_at_2" name="look_at")
                                    label(for="description") В описании
                                .search-params-field.swiper-slide
                                    input(type="radio" value="tags" id="look_at_3" name="look_at")
                                    label(for="tags") По тегам
                                .search-params-field.swiper-slide
        .search-body
            include includes/ads.pug
                .ads-unit
                    img(src="./img/mock-ads/1.jpg" alt="mock")
                .ads-unit
                    img(src="./img/mock-ads/2.jpg" alt="mock")
                .ads-unit
                    img(src="./img/mock-ads/3.jpg" alt="mock")
            .search-actions
                .container.flex
                    //- .search-filters
                        .filters
                            p Сортировать по 
                            label.select
                                span релевантности
                                .datalist
                                    a(href="https://photosight.ru/search/search_word/?look_at=all&amp;query=%D0%9E%D0%B1%D0%BD%D0%B0%D0%B6%D1%91%D0%BD%D0%BA%D0%B0&amp;sort_type=weight").option релевантности
                                    a(href="https://photosight.ru/search/search_word/?look_at=all&amp;query=%D0%9E%D0%B1%D0%BD%D0%B0%D0%B6%D1%91%D0%BD%D0%BA%D0%B0&amp;sort_type=ctime").option дате
                                    a(href="https://photosight.ru/search/search_word/?look_at=all&query=%D0%9E%D0%B1%D0%BD%D0%B0%D0%B6%D1%91%D0%BD%D0%BA%D0%B0&sort_type=rating").option рейтингу
                                    a(href="https://photosight.ru/search/search_word/?look_at=all&query=%D0%9E%D0%B1%D0%BD%D0%B0%D0%B6%D1%91%D0%BD%D0%BA%D0%B0&sort_type=art").option художественности
                                    a(href="https://photosight.ru/search/search_word/?look_at=all&query=%D0%9E%D0%B1%D0%BD%D0%B0%D0%B6%D1%91%D0%BD%D0%BA%D0%B0&sort_type=orig").option оригинальности
                                    a(href="https://photosight.ru/search/search_word/?look_at=all&query=%D0%9E%D0%B1%D0%BD%D0%B0%D0%B6%D1%91%D0%BD%D0%BA%D0%B0&sort_type=tech").option техничности
                            .down-btn
                                i.fas.fa-arrow-down
                    //- .search-current-page
                    //-     input(type="text" value="1")
                    //-     span стр.

            //- main content
            //- include includes/search/photos.pug
            include includes/search/users.pug
            //- main content

        .search-footer 
            .container.flex
                .search-pagination.pagination
                .search-current-page
                    input(type="text" value="1")
                    span стр.
            include includes/ads.pug
                block mocks
                    .ads-unit
                        img(src="./img/mock-ads/1.jpg" alt="mock")
                    .ads-unit
                        img(src="./img/mock-ads/2.jpg" alt="mock")
                    .ads-unit
                        img(src="./img/mock-ads/3.jpg" alt="mock")
//- for photos search
//- block scripts
    script(src="./js/libs/jquery.justifiedGallery.js") 

