doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Photosight - Oops!
    body 
        main.message
            .container.flex
                div(style="background: url(./img/logo/logo_black.svg) center / contain no-repeat").message-logo
                .p.message-text Приносим извинения, сейчас на сайте ведутся технические работы. В ближайшее время сайт снова заработает.

        include includes/mini-footer.pug