extends layouts/page.pug

block title 
    title Photosight - Просмотр фото

block content
    include includes/popup.pug

    //- include includes/view/logged.pug 
    include includes/view/not-logged.pug

block scripts 
    script(src="./js/libs/lightbox.js")

    
    