include ../ads.pug
    block mocks
        .ads-unit
            img(src="./img/mock-ads/4.jpg" alt="mock")
        .ads-unit
            img(src="./img/mock-ads/6.jpg" alt="mock")
.container  
    .profile-albums 
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-2.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-2.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Люди
                span.album-rate 12.1
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-3.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Разное
                span.album-rate 16.7
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-4.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить       
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 56
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-5.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                    p.album-name Индия
                    span.album-rate 13.5
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-6.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-7.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-8.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Люди
                span.album-rate 12.1
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-9.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Разное
                span.album-rate 16.7
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-10.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2034.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2035.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2036.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить       
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 56
        .album
            .album-previews
                a(href="#" style="background-image: url(./img/profile/albums/Rectangle%2033-11.jpg)").album-main
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2037.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2038.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2039.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 13.5
        .album
            .album-previews
                a lbum-mainstyle="background-image: url(./img/profile/albums/Rectangle%2033.jpg)"(href="#").a
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a lbum-mainstyle="background-image: url(./img/profile/albums/Rectangle%2033.jpg)"(href="#").a
                .album-crops
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2040.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2041.jpg)").album-crop
                    a(href="#" style="background-image: url(./img/profile/albums/crops/Rectangle%2042.jpg)").album-crop
                .album-hover-menu
                    .wrap
                        a.edit-album-popup Редактировать
                        a(href="#").album-add-photo Добавить фото
                        a(href="#").album-delete Удалить
            a(href="#").album-info
                p.album-name Индия
                span.album-rate 43.4