.comments-wall
  .container
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 1.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-5.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 2.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-2.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 3.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-1.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 4.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 5.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-5.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 6.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-4.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 7.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-3.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 8.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-2.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        
    .comments-comment
        a(href="#" style="background-image: url('./img/popgallery/image 17.jpg')").photo-preview
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    a(href="#" style="background-image: url('./img/subscribers/image%2039-1.jpg');").post-avatar
                    .post-content
                        .flex
                            a(href="#").post-name Дмитрий Зеленский
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        