.comments-wall.my-answers
    .container
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 1.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 2.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 3.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 4.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 5.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 6.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 7.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 8.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    
        .comments-comment
            a(href="#" style="background-image: url('./img/popgallery/image 17.jpg')").photo-preview
            div(id="comment_817087411" data-comment-id="817087411").post
                .post-container
                    .post-wrapper
                        .post-content
                            .flex
                                .post-date 12 февраля 2021, 18:34:59
                            .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                            
                .post-answer
                    div(id="comment_817087412" data-comment-id="817087412").post
                        .post-container
                            .post-wrapper
                                a(href="#" style="background-image: url('./img/user-avatar.jpg');").post-avatar
                                .post-content
                                    .flex
                                        a(href="#").post-name Sub-Zero
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text Нравится!! +Х
                                    