.profile-comments.comments
    .comments-nav
        a(href="favauthorphotos.html").comments-navlink.active Получены&nbsp;
            span.comments-counter (9)
        a(href="favauthors.html").comments-navlink Написаны&nbsp;
            span.comments-counter (7)
        a(href="favphotos.html").comments-navlink Ответы на мои комментарии&nbsp;
            span.comments-counter (45)
    include ../ads.pug
        block mocks
            .ads-unit
                img(src="./img/mock-ads/4.jpg" alt="mock")
            .ads-unit
                img(src="./img/mock-ads/6.jpg" alt="mock")
    .comments-actions
        .container.flex
            .comments-filters
                .filters
                    p Сортировать по 
                    label.select
                        span релевантности
                        .datalist
                            a(href="#").option дате добавления
                            a(href="#").option рейтингу
                    .down-btn
                        i.fas.fa-arrow-down
            .comments-current-page
                input(type="text" value="1")
                span стр.
    //- include comments_received.pug
    include comments_my.pug
    //- include comments_my_answers.pug