.comments-wall.my-comments
  .container
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 1.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 2.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 3.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 4.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 5.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 6.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 7.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 8.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart
    .comments-comment
        .photo-preview(style="background-image: url('./img/popgallery/image 17.jpg')")
        div(id="comment_817087411" data-comment-id="817087411").post
            .post-container
                .post-wrapper
                    .post-content
                        .flex
                            .post-date 12 февраля 2021, 18:34:59
                        .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                        .post-actions
                            .post-btn.post-reply
                                i.fas.fa-reply
                            .post-btn.post-complain
                                i.fas.fa-exclamation
                            .post-btn.post-like 
                                i.fas.fa-heart