.profile-photos
    include ../ads.pug
        block mocks
            .ads-unit
                img(src="./img/mock-ads/4.jpg" alt="mock")
            .ads-unit
                img(src="./img/mock-ads/6.jpg" alt="mock")
    .container
        include ../jgmyprof.pug
