include ../ads.pug
    block mocks
        .ads-unit
            img(src="./img/mock-ads/4.jpg" alt="mock")
        .ads-unit
            img(src="./img/mock-ads/6.jpg" alt="mock")
.container    
        .profile-statistics
            .statistics-row
                .statistics-table-wrap_1
                    table.statistics-table
                        thead.statistics-header
                            tr
                                th.statistics-header-image
                                    .flex
                                        .icon
                                            .far.fa-image 
                                        p Фото
                        tbody.statistics-content
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%205.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%206.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%205.jpg) center / cover no-repeat")
                            tr.statistics-table-row
                                td.statistics-image
                                    a(style="background: url(./img/popgallery/image%206.jpg) center / cover no-repeat")
                .statistics-table-wrap_2
                    table.statistics-table
                        thead.statistics-header
                            tr
                                th.statistics-header-date
                                    .flex
                                        .icon
                                            .far.fa-upload 
                                        p Загружено
                                th.statistics-header-category
                                    .flex
                                        .icon
                                            .far.fa-book
                                        p Раздел
                                th.statistics-header-views
                                    .flex
                                        .icon
                                            .far.fa-eye
                                        p Просмотров
                        tbody.statistics-content
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p НЮ
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Натюрморт
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Свадебное фото
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p НЮ
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Натюрморт
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Свадебное фото
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p НЮ
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Натюрморт
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Свадебное фото
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p НЮ
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Натюрморт
                                td.statistics-views
                                    p 1290
                            tr.statistics-table-row
                                td.statistics-date
                                    p 15 марта, 12:56
                                td.statistics-category
                                    p Свадебное фото
                                td.statistics-views
                                    p 1290

                .statistics-table-wrap_3
                    table.statistics-table
                        thead.statistics-header
                            tr
                                th.statistics-header-rate
                                    .flex
                                        .icon
                                            .far.fa-star
                                        p Рейтинг
                                th.statistics-header-comments
                                    .flex
                                        .icon
                                            .far.fa-comment
                                        p Комментариев
                                th.statistics-header-favorites
                                    .flex
                                        .icon
                                            .far.fa-heart
                                        p В избранном
                        tbody.statistics-content
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3
                            tr.statistics-table-row
                                td.statistics-rate
                                    p 67
                                td.statistics-comments
                                    p 569
                                td.statistics-favorites
                                    p 3