include ../ads.pug
    block mocks
        .ads-unit
            img(src="./img/mock-ads/4.jpg" alt="mock")
        .ads-unit
            img(src="./img/mock-ads/6.jpg" alt="mock")
.container  
    .profile-subscribers
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Анастасия Никаноровская
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Константин
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Sub-Zero
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Mickey
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Mouse
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Анастасия Никаноровская
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Mickey
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Константин
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Sub-Zero
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Mouse
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Анастасия Никаноровская
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Mickey
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Константин
                    p.subscriber-location Россия, Ставрополь<br>
                        //- span.subscriber-last-visited была 18 декабря, 16:56
                        span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Sub-Zero
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Mouse
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 
            .subscriber 
                .subscriber-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .subscriber-description
                    h5.subscriber-name Run Bitch
                    p.subscriber-location Россия, Ставрополь<br>
                        span.subscriber-last-visited была 18 декабря, 16:56
                        //- span.subscriber-online онлайн 