.container  
    .profile-albums 
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-2.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 34.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 35.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 36.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-2.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 37.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 38.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 39.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Люди
                span.album-rate 12.1
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-3.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 40.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 41.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 42.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Разное
                span.album-rate 16.7
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-4.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 34.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 35.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 36.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 56
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-5.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 37.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 38.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 39.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 13.5
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-6.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 40.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 41.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 42.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-7.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 34.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 35.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 36.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-8.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 37.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 38.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 39.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Люди
                span.album-rate 12.1
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-9.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 40.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 41.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 42.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Разное
                span.album-rate 16.7
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-10.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 34.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 35.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 36.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 56
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33-11.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 37.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 38.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 39.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 13.5
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 40.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 41.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 42.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 43.4
        .album
            .album-previews
                a.album-main(style="background: url(\"./img/profile/albums/Rectangle 33.jpg\") center / cover no-repeat")
                .album-crops
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 40.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 41.jpg\") center / cover no-repeat")
                    a.album-crop(style="background: url(\"./img/profile/albums/crops/Rectangle 42.jpg\") center / cover no-repeat")
            a.album-info
                p.album-name Индия
                span.album-rate 43.4