.profile-favorites
    .favorites-nav
        a(href="#").favorites-navlink Фотографии избранных авторов
        a(href="#").favorites-navlink Авторы&nbsp;
            span.favorites-authors-count (7)
        a(href="#").favorites-navlink Избранные фото&nbsp;
            span.favorites-photos-count (45)

    .favorites-authors 
        .container.flex
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat;").author-avatar
                p.author-name Анастасия Никаноровская
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat;").author-avatar
                p.author-name Sub-Zero
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat;").author-avatar
                p.author-name Константин Константинопольский
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat;").author-avatar
                p.author-name Mickey
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat;").author-avatar
                p.author-name Сам Своим
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat;").author-avatar
                p.author-name Анастасия Никаноровская
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat;").author-avatar
                p.author-name Sub-Zero
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat;").author-avatar
                p.author-name Константин Константинопольский
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat;").author-avatar
                p.author-name Mickey
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat;").author-avatar
                p.author-name Сам Своим
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat;").author-avatar
                p.author-name Анастасия Никаноровская
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat;").author-avatar
                p.author-name Sub-Zero
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat;").author-avatar
                p.author-name Гугли Вгугле
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
            .author
                a(href="#" style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat;").author-avatar
                p.author-name Mickey
                p.author-location Россия, Ставрополь, 
                    span.author-last-seen была 18 декабря, 16:56
                .author-previews 
                    a(href="#" style="background: url(./img/popgallery/image%201.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%202.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%203.jpg) center / cover no-repeat;").author-crop
                    a(href="#" style="background: url(./img/popgallery/image%204.jpg) center / cover no-repeat;").author-crop
