.container  
    .search-users
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Анастасия Никаноровская
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Константин
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited(style="display: none;") была 18 декабря, 16:56
                        span.user-online(style="display: inline;") онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Sub-Zero
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Mickey
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited(style="display: none;") была 18 декабря, 16:56
                        span.user-online(style="display: inline;") онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Mouse
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Run Bitch
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Анастасия Никаноровская
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Mickey
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited(style="display: none;") была 18 декабря, 16:56
                        span.user-online(style="display: inline;") онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Константин
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited(style="display: none;") была 18 декабря, 16:56
                        span.user-online(style="display: inline;") онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Sub-Zero
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Mouse
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Run Bitch
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Анастасия Никаноровская
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-3.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Mickey
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited(style="display: none;") была 18 декабря, 16:56
                        span.user-online(style="display: inline;") онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-1.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Константин
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited(style="display: none;") была 18 декабря, 16:56
                        span.user-online(style="display: inline;") онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-2.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Sub-Zero
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-4.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Mouse
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Run Bitch
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Run Bitch
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 
            .user 
                .user-avatar(style="background: url(./img/subscribers/image%2039-5.jpg) center / cover no-repeat")
                .user-description
                    h5.user-name Run Bitch
                    p.user-location Россия, Ставрополь<br>
                        span.user-last-visited была 18 декабря, 16:56
                        span.user-online онлайн 