.search-users    
    .container
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg);").user-avatar
                a(href="#").user-name Анастасия Никаноровская
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg);").user-avatar
                a(href="#").user-name Sub-Zero
                p.user-location Россия, Ставрополь, 
                    //- span.user-last-seen была 18 декабря, 16:56
                    span.user-online онлайн
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg);").user-avatar
                a(href="#").user-name Константин Константинопольский
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").user-avatar
                a(href="#").user-name Mickey
                p.user-location Россия, Ставрополь, 
                    //- span.user-last-seen была 18 декабря, 16:56
                    span.user-online онлайн
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").user-avatar
                a(href="#").user-name Сам Своим
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg);").user-avatar
                a(href="#").user-name Анастасия Никаноровская
                p.user-location Россия, Ставрополь, 
                    //- span.user-last-seen была 18 декабря, 16:56
                    span.user-online онлайн
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg);").user-avatar
                a(href="#").user-name Sub-Zero
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg);").user-avatar
                a(href="#").user-name Константин Константинопольский
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").user-avatar
                a(href="#").user-name Mickey
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").user-avatar
                a(href="#").user-name Сам Своим
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-1.jpg);").user-avatar
                a(href="#").user-name Анастасия Никаноровская
                p.user-location Россия, Ставрополь, 
                    //- span.user-last-seen была 18 декабря, 16:56
                    span.user-online онлайн
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-2.jpg);").user-avatar
                a(href="#").user-name Sub-Zero
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-3.jpg);").user-avatar
                a(href="#").user-name Гугли Вгугле
                p.user-location Россия, Ставрополь, 
                    span.user-last-seen была 18 декабря, 16:56
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop
            .user
                a(href="#" style="background-image: url(./img/subscribers/image%2039-5.jpg);").user-avatar
                a(href="#").user-name Mickey
                p.user-location Россия, Ставрополь, 
                    //- span.user-last-seen была 18 декабря, 16:56
                    span.user-online онлайн
                .user-previews 
                    a(href="#" style="background-image: url(./img/popgallery/image%201.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%202.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%203.jpg);").user-crop
                    a(href="#" style="background-image: url(./img/popgallery/image%204.jpg);").user-crop