main.view
    .photo-block
        .container
            .row.wrap
                .photo-action-left.col-lg-1.col-xs-6
                    a.photo-btn-share
                        i.fas.fa-share-alt
                    a.photo-btn-prev
                        i.fas.fa-chevron-left
                    .photo-likes
                        a(title="Избранные фотографии" data-id="7143533" id="add_favourite_photo_toggle").photo-btn-like
                            i.fas.fa-heart
                        span.photo-likes-counter 7
                .col-xs-12.col-lg-10
                    .photo-view
                        .photo-image
                            img(src="./img/maingallery/7121648_xlarge.jpg" href="./img/maingallery/7121648_xlarge.jpg")
                            .ratings
                                h5.ratings-title Оценки фото
                                .ratings-panel
                                    div(data-vote-type="1" data-photo-id="7143533").ratings-category
                                        .ratings-wrap
                                            p.ratings-name Художественно
                                            span.ratings-counter 18
                                        a.ratings-rate-btn Оценить
                                    div(data-vote-type="2" data-photo-id="7143533").ratings-category
                                        .ratings-wrap
                                            p.ratings-name Оригинально
                                            span.ratings-counter 0
                                        a.ratings-rate-btn Оценить
                                    div(data-vote-type="3" data-photo-id="7143533").ratings-category
                                        .ratings-wrap
                                            p.ratings-name Технично
                                            span.ratings-counter 1
                                        a.ratings-rate-btn Оценить
                                    div(data-vote-type="4" data-photo-id="7143533").ratings-category
                                        .ratings-wrap
                                            p.ratings-name Нравится
                                            span.ratings-counter 8
                                        a.ratings-rate-btn Оценить
                                    div(data-vote-type="5" data-photo-id="7143533").ratings-category
                                        .ratings-wrap
                                            p.ratings-name Не нравится
                                            span.ratings-counter 0
                                        a.ratings-rate-btn Оценить
                                p.ratings-warning Претенденты не могут голосовать за фото. Для голосования необходимо иметь статус любитель или выше. Подробнее о статусах можно узнать здесь
                        .photo-preview-nav
                            a(href="./img/popgallery/image 1.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 1.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 2.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 2.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 3.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 3.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 4.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 4.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 5.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 5.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 6.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 6.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 7.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 7.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 8.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 8.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 9.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 9.jpg') center / cover no-repeat")
                            a(href="./img/maingallery/7121648_xlarge.jpg").photo-preview.active
                                div(style="background:url('./img/maingallery/7121648_xlarge.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 10.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 10.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 11.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 11.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 13.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 13.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 14.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 14.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 15.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 15.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 16.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 16.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 17.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 17.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 18.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 18.jpg') center / cover no-repeat")
                            a(href="./img/popgallery/image 19.jpg").photo-preview
                                div(style="background:url('./img/popgallery/image 19.jpg') center / cover no-repeat")
                .photo-action-right.col-lg-1.col-xs-6
                    a(href="./img/maingallery/7121648_xlarge.jpg" data-lightbox="7121648_xlarge.jpg").photo-btn-expand
                        i.fas.fa-expand-alt
                    a.photo-btn-next
                        i.fas.fa-chevron-right
                    a.photo-btn-complain
                        i.fas.fa-exclamation



    .wall-block.container

        .row.wrap

            .hero.col-xs-12.col-lg-8
                div(style="background: url(./img/profile/avatar.jpg) center / cover").hero-avatar
                    .hero-pro
                        div.hero-pro-icon
                .hero-wrap
                    .row
                        .hero-description
                            h5.hero-photo-name Речка в сосновом бору
                            p.hero-name Дмитрий Зеленский
                        .hero-actions 
                            a(data-member-id="518054").hero-btn.hero-subscribe.green Подписаться
                            a(href="#").hero-btn.hero-sendmail
                                i.fas.fa-envelope
                            a.hero-btn.hero-more
                                i.fas.fa-ellipsis-h
                            include ../dots-menu.pug
                                block menu
                                    +menu(['Поделиться', 'Подписаться', 'Написать'])
                    .row
                        .hero-about 
                            p Санкт-Петербург. Выступление ансамбля "Казачья доля". Руководитель - Артём Пилипенко. Концерт посвящён Дню Защитника Отечества. Дорогие наши защитники, с праздником вас! С Днём Защитника Отечества! Фотосъёмка 22 февраля 2021 года
                .hero-about.mobile 
                    p Санкт-Петербург. Выступление ансамбля "Казачья доля". Руководитель - Артём Пилипенко. Концерт посвящён Дню Защитника Отечества. Дорогие наши защитники, с праздником вас! С Днём Защитника Отечества! Фотосъёмка 22 февраля 2021 года

            .ratings
                h5.ratings-title Оценки фото
                .swiper-container
                    .ratings-panel.swiper-wrapper
                        div(data-vote-type="1" data-photo-id="7143533").ratings-category.swiper-slide
                            .ratings-wrap
                                p.ratings-name Художественно
                                span.ratings-counter 18
                            a.ratings-rate-btn Оценить
                        div(data-vote-type="1" data-photo-id="7143533").ratings-category.swiper-slide
                            .ratings-wrap
                                p.ratings-name Оригинально
                                span.ratings-counter 0
                            a.ratings-rate-btn Оценить
                        div(data-vote-type="1" data-photo-id="7143533").ratings-category.swiper-slide
                            .ratings-wrap
                                p.ratings-name Технично
                                span.ratings-counter 1
                            a.ratings-rate-btn Оценить
                        div(data-vote-type="1" data-photo-id="7143533").ratings-category.swiper-slide
                            .ratings-wrap
                                p.ratings-name Нравится
                                span.ratings-counter 8
                            a.ratings-rate-btn Оценить
                        div(data-vote-type="1" data-photo-id="7143533").ratings-category.swiper-slide
                            .ratings-wrap
                                p.ratings-name Не нравится
                                span.ratings-counter 0
                            a.ratings-rate-btn Оценить
                    p.ratings-warning Претенденты не могут голосовать за фото. Для голосования необходимо иметь статус любитель или выше. Подробнее о статусах можно узнать здесь
            .info-part-one.col-xs-12.col-lg-4
                .info-tags
                    .info-tag 
                        span Санкт-Петербург
                    .info-tag 
                        span День Защитника Отечества
                    .info-tag 
                        span Концерт
                    .info-tag 
                        span Ансамбль "Казачья доля"
                    .info-tag 
                        span Праздничный концерт
                .info-common
                    p Загружена: 
                        span 18 января 2021, 17:56
                    p Просмотров: 
                        span 3 402
                    p Рубрика: 
                        span "Портрет"
                    p Альбом: 
                        span "Портрет"
            .comments.col-xs-12.col-lg-8
                .comments-number 
                    span <b>18</b> комментариев
                form.comments-textfield(name="comment_form" id="yw0" action="http://localhost/test.php" method="post")
                    //- https://photosight.ru/photo/ajaxPhotoComment/
                    .row
                        .comments-user-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                        textarea(name="PhotoComment[comment]" placeholder="Напишите свой комментарий")

                    button(type="submit").comments-post-comment Отправить
                    input(name="PhotoComment[photo_id]" disabled id="PhotoComment_photo_id" type="hidden" value="7143533")
                    input(name="PhotoComment[member_id]" disabled id="PhotoComment_member_id" type="hidden" value="539166") 
                    input(name="PhotoComment[parent_id]" disabled id="PhotoComment_parent_id" type="hidden" value="817087418")

                .comments-wallpost 

                    div(id="comment_817087411" data-comment-id="817087411").post
                        .post-container
                            .post-wrapper
                                .post-avatar(style="background: url('./img/subscribers/image%2039.jpg') center / cover no-repeat;")
                                .post-content
                                    .flex
                                        .post-name Дмитрий Зеленский
                                        .post-date 12 февраля 2021, 18:34:59
                                    .post-text как чудесно ВЫ слагаете куплеты<br>рифма с вами дышит и живет<br>мне приятно ВАМ сказать об этом,<br>красота,беспечность,молодость уйдет....а гимны останутся))да,и талант не пропьешь...
                                    .post-actions
                                        .post-btn.post-reply
                                            i.fas.fa-reply
                                        .post-btn.post-complain
                                            i.fas.fa-exclamation
                                        .post-btn.post-like 
                                            i.fas.fa-heart


                        .post-answer
                            div(id="comment_817087412" data-comment-id="817087412").post.my-post
                                .post-container
                                    .post-wrapper
                                        .post-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                                        .post-content
                                            .flex
                                                .post-name Активный юзер
                                                .post-date 12 февраля 2021, 18:34:59
                                            .post-text Нравится!! +Х
                                            .post-actions
                                                .post-btn.post-delete
                                                    i.fas.fa-trash


                                .post-answer
                                    div(id="comment_817087413" data-comment-id="817087413").post
                                        .post-container
                                            .post-wrapper
                                                .post-avatar(style="background: url('./img/subscribers/image%2039-5.jpg') center / cover no-repeat;")
                                                .post-content
                                                    .flex
                                                        .post-name Активный юзер
                                                        .post-date 12 февраля 2021, 18:34:59
                                                    .post-text Нравится!! +Х
                                                    .post-actions
                                                        .post-btn.post-reply
                                                            i.fas.fa-reply
                                                        .post-btn.post-complain
                                                            i.fas.fa-exclamation
                                                        .post-btn.post-like 
                                                            i.fas.fa-heart


                                        .post-answer
                                            div(id="comment_817087414" data-comment-id="817087414").post
                                                .post-container
                                                    .post-wrapper
                                                        .post-avatar(style="background: url('./img/subscribers/image%2039-4.jpg') center / cover no-repeat;")
                                                        .post-content
                                                            .flex
                                                                .post-name Активный юзер
                                                                .post-date 12 февраля 2021, 18:34:59
                                                            .post-text Нравится!! +Х
                                                            .post-actions
                                                                .post-btn.post-reply
                                                                    i.fas.fa-reply
                                                                .post-btn.post-complain
                                                                    i.fas.fa-exclamation
                                                                .post-btn.post-like 
                                                                    i.fas.fa-heart


                                                .post-answer
                                                    div(id="comment_817087415" data-comment-id="817087415").post.my-post
                                                        .post-container
                                                            .post-wrapper
                                                                .post-avatar(style="background: url('./img/user-avatar.jpg') center / cover no-repeat;")
                                                                .post-content
                                                                    .flex
                                                                        .post-name Активный юзер
                                                                        .post-date 12 февраля 2021, 18:34:59
                                                                    .post-text Нравится!! +Х
                                                                    .post-actions
                                                                        .post-btn.post-delete
                                                                            i.fas.fa-trash


                                                        .post-answer
                                                            div(id="comment_817087416" data-comment-id="817087416").post
                                                                .post-container
                                                                    .post-wrapper
                                                                        .post-avatar(style="background: url('./img/subscribers/image%2039-2.jpg') center / cover no-repeat;")
                                                                        .post-content
                                                                            .flex
                                                                                .post-name Активный юзер
                                                                                .post-date 12 февраля 2021, 18:34:59
                                                                            .post-text Нравится!! +Х
                                                                            .post-actions
                                                                                .post-btn.post-reply
                                                                                    i.fas.fa-reply
                                                                                .post-btn.post-complain
                                                                                    i.fas.fa-exclamation
                                                                                .post-btn.post-like 
                                                                                    i.fas.fa-heart


                                                                .post-answer
                                                                    div(id="comment_817087417" data-comment-id="817087417").post
                                                                        .post-container
                                                                            .post-wrapper
                                                                                .post-avatar(style="background: url('./img/subscribers/image%2039-1.jpg') center / cover no-repeat;")
                                                                                .post-content
                                                                                    .flex
                                                                                        .post-name Активный юзер
                                                                                        .post-date 12 февраля 2021, 18:34:59
                                                                                    .post-text Нравится!! +Х
                                                                                    .post-actions
                                                                                        .post-btn.post-reply
                                                                                            i.fas.fa-reply
                                                                                        .post-btn.post-complain
                                                                                            i.fas.fa-exclamation
                                                                                        .post-btn.post-like 
                                                                                            i.fas.fa-heart


                                                                        .post-answer
                                                                            div(id="comment_817087418" data-comment-id="817087418").post
                                                                                .post-container
                                                                                    .post-wrapper
                                                                                        .post-avatar(style="background: url('./img/subscribers/image%2039.jpg') center / cover no-repeat;")
                                                                                        .post-content
                                                                                            .flex
                                                                                                .post-name Людочка
                                                                                                .post-date 12 февраля 2021, 18:34:59
                                                                                            .post-text Спасибо! Снимала до реконструкции.В то время там были руины павильона.
                                                                                            .post-actions
                                                                                                .post-btn.post-reply
                                                                                                    i.fas.fa-reply
                                                                                                .post-btn.post-complain
                                                                                                    i.fas.fa-exclamation
                                                                                                .post-btn.post-like 
                                                                                                    i.fas.fa-heart


                                                                                .post-answer
            //- ==================================+====================================================================================================================================================
            .info-part-two.col-xs-12.col-lg-4

                .info-rewards
                    .flex
                        .info-prize.week1
                        .info-prize.day1
                        .info-prize.m20
                        .info-prize.m200
                        .info-prize.w20
                        .info-prize.w50
                        .info-prize.artistical
                .info-location
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17237074.839843605!2d13.363065680437023!3d51.15913517200372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JHQtdC70LDRgNGD0YHRjA!5e0!3m2!1sru!2sru!4v1618150503508!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy").info-map
                    p Беларусь, Минск
                .info-device
                    .info-camera
                        .icon
                        .model
                            p Canon EOS 6D Kit
                            p Canon EF 24-105mm f/3.5-5.6 IS STM
                    .info-tech
                        .prop
                            .icon
                            p 1/160s
                        .prop
                            .icon
                            p f2.2
                        .prop
                            .icon
                            p 200
                        .prop
                            .icon
                            p 85mm
                .info-meta
                    .info-exif
                        .flex
                            a.info-btn.exif-btn
                                span exif
                            p Показать EXIF
                        .info-shown.exif-content
                            p JFIFVersion - 1.02
                            p X-Resolution - 400 dpi
                            p Y-Resolution - 400 dpi
                            p Photometric Interpretation - RGB
                            p Image Description - Processed with VSCO with c3 preset
                            p Make - Apple
                            p Orientation - Horizontal (normal)
                            p Software - Adobe Photoshop CC 2018 (Macintosh)
                            p Date and Time (Modified) - 2021:04:18 17:13:42
                            p Host Computer - iPhone
                            p Tile Width - 512
                            p Tile Length - 512
                            p YCbCr Positioning - Centered
                            p Copyright - Copyright 2019. All rights reserved.
                            p ISO Speed - 20
                            p Exif Version - 0221
                            p Date and Time (Original) - 2019:06:08 13:02:26
                            p Date and Time (Digitized) - 2019:06:08 13:02:26
                            p Components Configuration - Y, Cb, Cr, -
                            p Brightness Value - 10.38305281
                            p Exposure Bias - 0 EV
                            p Metering Mode - Spot
                            p Subject Area - 1908 1929 753 756
                            p User Comment - {"ARInfo":{"IsUseAR":false},"Version":"1.0.0","MakeupInfo":{"IsUseMakeup":false},"FaceliftInfo":{"IsChangeEyeLift":false,"IsChangeFacelift":false,"IsChangePostureLift":false,"IsChangeNose":false,"IsChangeFaceChin":false,"IsChangeMouth":false,"IsChangeThinFace":true},"BeautyInfo":{"SwitchMedicatedAcne":false,"IsAIBeauty":false,"IsBrightEyes":false,"IsSharpen":true,"IsOldBeauty":false,"IsReduceBlackEyes":false},"HandlerInfo":{"AppName":2},"FilterInfo":{"IsUseFilter":false}} Processed with VSCO with c3 preset
                            p Sub Sec Time Original - 591
                            p Sub Sec Time Digitized - 591
                            p Flashpix Version - 0100
                            p Color Space - sRGB
                            p Sensing Method - One-chip color area
                            p Scene Type - Directly photographed
                            p Exposure Mode - Auto
                            p White Balance - Auto
                            p Focal Length (35mm format) - 28 mm
                            p Scene Capture Type - Standard
                            p Lens Info - 4-6mm f/1.8-2.4
                            p Lens Make - Apple
                            p Lens Model - iPhone X back dual camera 4mm f/1.8
                            p Coded Character Set - UTF8
                            p Envelope Record Version - 4
                            p Application Record Version - 2
                            p Date Created - 2019:06:08
                            p Time Created - 13:02:26-07:00
                            p Digital Creation Date - 2019:06:08
                            p Digital Creation Time - 13:02:26-07:00
                            p Copyright Notice - Copyright 2019. All rights reserved.
                            p Caption- Abstract - Processed with VSCO with c3 preset
                            p IPTCDigest - dacbe69b90e03c4562a293fea72b6cde
                            p XMPToolkit - XMP Core 6.0.0
                            p Description - Processed with VSCO with c3 preset
                            p Rights - Copyright 2019. All rights reserved.
                            p Lens Info - 4-6mm f/1.8-2.4
                            p Region Applied To Dimensions H - 3024
                            p Region Applied To Dimensions Unit - pixel
                            p Region Applied To Dimensions W - 4032
                            p Region Area H - 0.047000000000000042
                            p Region Area Unit - normalized
                            p Region Area W - 0.035000000000000031
                            p Region Area X - 0.4965
                            p Region Area Y - 0.4995
                            p Region Extensions Angle Info Roll - 0
                            p Region Extensions Angle Info Yaw - 90
                            p Region Extensions Confidence Level - 99
                            p Region Extensions Face ID - 15
                            p Region Extensions Time Stamp - 2147483647
                            p Region Type - Face
                            p Creator Tool - Adobe Photoshop CC 2018 (Macintosh)
                            p Camera ID - 72157688436594566
                            p Camera Type - Cameraphone
    include ../ads.pug
        block mocks
            .ads-unit
                img(src="./img/mock-ads/1.jpg" alt="mock")
            .ads-unit
                img(src="./img/mock-ads/2.jpg" alt="mock")
            .ads-unit
                img(src="./img/mock-ads/3.jpg" alt="mock")